.container-productAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;
}

.header-productAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #2656a2;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.create-product {
  display: flex;
  flex-direction: column;
  h1 {
    color: #2656a2;
  }
  .input-product-content {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
    .input-product {
      p {
        font-size: 20px;
        color: #2656a2;
        white-space: nowrap;
      }
      Input {
        min-width: 250px;
        height: 40px;
        border-radius: 999px;
        border: 2px solid #2656a2;
        padding: 5px 20px;
      }
    }
    .btn-create-product {
      display: flex;
      justify-content: center;
      align-self: end;
      button {
        min-width: 100px;
        height: 40px;
        border-radius: 5px;
        background-color: #2656a2;
        color: white;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      button:hover {
        background-color: #1a4f8a;
      }
    }
  }
}

@media (max-width: 1240px) {
  .input-product-content {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .btn-create-product {
    width: 100%;
    button {
      width: 100%;
    }
  }
  .input-product {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
