.container-dashBoradAdminPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;
}

.header-dashBoradAdminPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}
