.container-dashBoradAdminPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;
}

.header-dashBoradAdminPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 160px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.wrap-container-dashBoradAdminPage {
  display: flex;
  flex-direction: column;
  .navbar-dashboard {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    .grid-dashboard {
      display: flex;
      flex-direction: column;
      min-width: 300px;
      border: 2px solid #043929;
      border-radius: 15px;
      background-color: #043929;
      padding: 10px;
      h2 {
        font-size: 20px;
        color: white;
      }
    }
  }
}

.wrap-grid-showBooking {
  display: flex;
  padding-top: 10px;
  gap: 10px;
  .grid-showBooking-left {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      display: flex;
      width: 100px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px solid white;
    }
  }

  .grid-showBooking-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    p {
      font-size: 14px;
      color: white;
    }
  }
}

.wrap-grid-totalBooking {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  .grid-totalBooking-left {
    display: flex;
    align-items: center;
    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #ffd86b;
      padding: 0px 10px 0px 10px;
      border-radius: 10px;
      h2 {
        margin-top: 3px;
        margin-right: 3px;
        font-size: 36px;
        color: #043929;
      }
    }
  }

  .grid-totalBooking-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      font-size: 14px;
      color: white;
    }
  }
}

.wrap-grid-financial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  .grid-financial-top {
    display: flex;
    justify-content: space-around;
    .grid-financial-left {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 14px;
        color: white;
      }
      h2 {
        color: #4aff88;
      }
    }

    .grid-financial-right {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        font-size: 14px;
        color: white;
      }
      h2 {
        color: #ff4d4f;
      }
    }
  }

  .grid-financial-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    color: white;
  }
}

.wrap-grid-employee {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  .grid-employee-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 14px;
      color: #ffa726;
      font-weight: bold;
    }
    .tap-employee {
      display: flex;
      h2 {
        font-size: 32px;
      }
    }
  }

  .grid-employee-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p {
      font-size: 14px;
      color: #ff4d4f;
      font-weight: bold;
    }
    .tap-employee {
      display: flex;
      h2 {
        font-size: 32px;
      }
    }
  }
}

.content-dashboard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
  padding-top: 20px;
  .wrap-content-dashboard-left {
    display: flex;
    flex-direction: column;
    background-color: #043929;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;

    .header-content-dashboard-left {
      display: flex;
      align-items: center;
      .fa-user {
        font-size: 24px;
        color: white;
        margin-right: 10px;
      }
      h1 {
        font-size: 24px;
        color: white;
      }
    }

    .wrap-grid-employee-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .grid-employee-name {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;

        img {
          display: flex;
          width: 80px;
          height: 80px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          border: 2px solid white;
        }

        .employee-name {
          display: flex;
          flex-direction: column;
          color: white;
        }
      }

      .checking {
        display: flex;
        justify-content: center;
        .checkbox-Missing-work {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 30px;
          margin: 5px;
          background-color: #ff4d4f;
          color: white;
          border-radius: 10px;
          cursor: pointer;
        }
        .checkbox-Missing-work-selected {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 25px;
          margin: 5px;
          background-color: #d32f2f;
          color: white;
          border-radius: 10px;
          cursor: pointer;
          border: 2px solid white;
        }
        .checkbox-Leave-work {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 30px;
          margin: 5px;
          background-color: #f9a825;
          color: white;
          border-radius: 10px;
          cursor: pointer;
        }
        .checkbox-Leave-work-selected {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 25px;
          margin: 5px;
          background-color: #e68900;
          color: white;
          border-radius: 10px;
          cursor: pointer;
          border: 2px solid white;
        }
        .checkbox-Attend-work {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 30px;
          margin: 5px;
          background-color: #4aff88;
          color: white;
          border-radius: 10px;
          cursor: pointer;
        }
        .checkbox-Attend-work-selected {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100px;
          height: 25px;
          margin: 5px;
          background-color: #4caf50;
          color: white;
          border-radius: 10px;
          cursor: pointer;
          border: 2px solid white;
        }
      }
    }
  }
}
