.container-SettingAdminPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
}

.header-SettingAdminPage {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bolder;
    color: white;
  }
}

.wrap-container-SettingAdminPage-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-bottom: 20px;
  width: 60%;
  min-height: 700px;
  border-radius: 20px;
  border: 4px solid #043929;
  padding: 10px;
  gap: 10px;
  h2 {
    font-size: 32px;
    font-weight: bolder;
    color: #043929;
  }
  .SettingAdminPage-content-translate {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .fa-globe {
      font-size: 40px;
      color: #043929;
    }
    .select-language {
      height: 45px;
    }
    .ant-select-single .ant-select-selector {
      border: 2px solid #043929;
    }
  }
  .SettingAdminPage-content-company {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .fa-building {
      font-size: 50px;
      color: #043929;
    }
  }
  .SettingAdminPage-content-users {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .fa-user-tie {
      font-size: 40px;
      color: #043929;
    }
  }
  .SettingAdminPage-content-permission {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .fa-user-shield {
      font-size: 40px;
      color: #043929;
    }
  }
  .SettingAdminPage-content-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .fa-bookmark {
      font-size: 40px;
      color: #043929;
    }
  }
  .SettingAdminPage-content-trakNumber {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .fa-list-ol {
      font-size: 40px;
      color: #043929;
    }
  }
}

@media (max-width: 1280px) {
  .container-SettingAdminPage {
    padding-left: 270px;
  }

  .wrap-container-SettingAdminPage-content {
    width: 60%;
    min-height: 600px;
  }
}

@media (max-width: 1080px) {
  .container-SettingAdminPage {
    padding-left: 220px;
  }
}

@media (max-width: 600px) {
  .container-SettingAdminPage {
    padding-left: 20px;
  }

  .wrap-container-SettingAdminPage-content {
    width: 90%;
    min-height: 700px;
    h2 {
      font-size: 21px;
    }
    p {
      font-size: 14px;
    }
    .SettingAdminPage-content-company {
      .fa-building {
        font-size: 30px;
      }
    }
    .SettingAdminPage-content-users {
      .fa-user-tie {
        font-size: 30px;
        margin: 25px;
      }
    }
    .SettingAdminPage-content-permission {
      .fa-user-shield {
        font-size: 30px;
      }
    }
    .SettingAdminPage-content-brand {
      .fa-bookmark {
        font-size: 30px;
        margin: 25px;
      }
    }
    .SettingAdminPage-content-trakNumber {
      .fa-list-ol {
        font-size: 30px;
      }
    }
  }
}
