.ant-btn-variant-solid {
  display: none !important;
}

.ant-drawer-close {
  display: none !important;
}

.ant-drawer-content {
  background-color: #043929 !important;
  color: white !important;
}

.ant-btn-variant-solid {
  background-color: #043929 !important;
  color: white !important;
}

.navbarAdmin {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: #043929;
  .logo-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    height: 100px;
    img {
      height: 100px;
      width: 200px;
    }
  }
  .user {
    display: flex;
    justify-content: space-between;
    height: 80px;
    .content-left {
      display: flex;
      align-items: center;
      .fa-circle-user {
        font-size: 42px;
        margin: 0 20px 0 10px;
        color: white;
        cursor: pointer;
      }
      .username {
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 24px;
          color: white;
        }
        p {
          font-size: 16px;
          color: white;
        }
      }
    }
  }
  .usered {
    display: flex;
    justify-content: space-between;
    height: 80px;
    .fa-circle-user {
      font-size: 42px;
      margin: 0 20px 0 10px;
      color: white;
      cursor: pointer;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.4);
    }
    .content-left {
      display: flex;
      align-items: center;
      .fa-circle-user {
        font-size: 42px;
        margin: 0 20px 0 10px;
        color: white;
        cursor: pointer;
      }
      .username {
        display: flex;
        flex-direction: column;
        h3 {
          font-size: 24px;
          color: white;
        }
        p {
          font-size: 16px;
          color: white;
        }
      }
    }
    .content-right {
      display: flex;
      align-items: center;
      margin: 0 20px 0 0px;
      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        cursor: pointer;
      }
    }
  }
  .menu {
    display: flex;
    flex-direction: column;
    height: 650px;
    ul {
      margin-top: 20px;
      .select {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 20px;
        cursor: pointer;
      }
      .selected {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-bottom: 20px;
        cursor: pointer;
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6),
          0 0 30px rgba(255, 255, 255, 0.4);
      }
      p {
        font-size: 16px;
        color: white;
        margin-left: 20px;
      }
      li:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6),
          0 0 30px rgba(255, 255, 255, 0.4);
        transition: all 0.5s;
      }
      .fa-trello {
        font-size: 36px;
        color: white;
      }
      .fa-image-portrait {
        font-size: 38px;
        color: white;
      }
      .fa-book-bookmark {
        font-size: 34px;
        color: white;
      }
      .fa-calendar-days {
        font-size: 34px;
        color: white;
      }
      .fa-square-check {
        font-size: 34px;
        color: white;
      }
      .fa-pen-to-square {
        font-size: 34px;
        color: white;
      }
      .fa-wallet {
        font-size: 32px;
        color: white;
      }
      .fa-hand-holding-dollar {
        font-size: 34px;
        color: white;
      }
      .fa-file-invoice-dollar {
        font-size: 40px;
        color: white;
      }
      .fa-trash-can {
        font-size: 34px;
        color: white;
      }
      .fa-gear {
        font-size: 30px;
        color: white;
      }
    }
  }
  .logout {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 10px;
    border-top: solid 1px #ffffff;
    width: 100%;
    .fa-arrow-right-from-bracket {
      font-size: 40px;
      color: white;
    }
    p {
      font-size: 18px;
      color: white;
      margin-left: 20px;
    }
  }
  .logout:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6),
      0 0 30px rgba(255, 255, 255, 0.4);
    transition: all 0.5s;
  }
}

@media (max-width: 1280px) {
  .navbarAdmin {
    width: 250px;
  }
}

@media (max-width: 1080px) {
  .navbarAdmin {
    width: 200px;
    .logo-admin {
      img {
        width: 150px;
        height: auto;
        padding-left: 10px;
      }
    }
    .user {
      .username {
        h3 {
          font-size: 16px !important;
        }
        p {
          font-size: 9px !important;
        }
      }
      .fa-circle-user {
        font-size: 36px;
      }
    }
    .usered {
      .username {
        h3 {
          font-size: 16px !important;
        }
        p {
          font-size: 9px !important;
        }
      }
      .fa-circle-user {
        font-size: 36px;
      }
    }
    .menu {
      ul {
        li {
          .fa-trello {
            font-size: 24px;
          }
          .fa-image-portrait {
            font-size: 24px;
          }
          .fa-book-bookmark {
            font-size: 24px;
          }
          .fa-calendar-days {
            font-size: 24px;
          }
          .fa-square-check {
            font-size: 24px;
          }
          .fa-pen-to-square {
            font-size: 24px;
          }
          .fa-wallet {
            font-size: 24px;
          }
          .fa-hand-holding-dollar {
            font-size: 24px;
          }
          .fa-file-invoice-dollar {
            font-size: 24px;
          }
          .fa-trash-can {
            font-size: 24px;
          }
          .fa-gear {
            font-size: 24px;
          }
          p {
            font-size: 14px;
          }
        }
      }
    }
    .logout {
      .fa-arrow-right-from-bracket {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 600px) {
  .ant-btn-variant-solid {
    display: flex !important;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 150;
    border: 2px solid white !important;
  }
  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    .content-left {
      display: flex;
      img {
        margin: 0px 10px 0px 10px !important;
      }
    }
    hr {
      margin-top: 20px !important;
      margin-bottom: 20px !important;
    }
    ul {
      li {
        display: flex;
        align-items: center;
        padding: 10px;
        font-size: 14px;
        gap: 10px;
        cursor: pointer;
      }
    }
    .logout {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: absolute;
      bottom: 0;
      left: 0;
      padding-bottom: 16px;
      padding-top: 16px;
      padding-left: 10px;
      border-top: solid 1px #ffffff;
      width: 95%;
      .fa-arrow-right-from-bracket {
        font-size: 14px;
        color: white;
      }
      p {
        font-size: 14px;
        color: white;
        margin-left: 10px;
      }
    }
  }

  .navbarAdmin {
    display: none;
  }
}
