.container-calendarAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-left: 320px;
}

.header-calendarAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  min-width: 1200px;
  border-radius: 20px;
  background-color: #2656a2;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.wrap-calendarAdmin {
  border: 5px solid #2656a2;
  border-radius: 20px;
  padding: 20px;
  max-width: 1400px;
  .ant-picker-cell-inner {
    height: 95px !important;
    .ant-picker-calendar-date-content {
      height: 60px !important;
      overflow-y: hidden;
    }
    .booking {
      overflow: hidden;
    }
    .ant-picker-calendar-date-content:hover {
      overflow-y: auto;
    }
  }
}

@media (max-width: 1550px) {
  .header-calendarAdmin {
    min-width: 0px;
    width: 100%;
  }
}
