.container-employeeAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;
}

.header-employeeAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.search-employee {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  width: 100%;
  input {
    width: 300px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    border: 3px solid #043929;
  }
  button {
    min-width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #043929;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #05593d;
  }
}

.wrap-container-employeeAdmin {
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 100%;
  overflow-y: hidden;
  .grid-employee {
    display: flex;
    justify-content: center;
  }
  .employee-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
    gap: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: #043929;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    img {
      height: 80px;
      width: 80px;
      object-fit: cover;
      border-radius: 50%;
    }
    .wrap-employee-content {
      display: flex;
      flex-direction: column;
      width: 90%;
      .text-p {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon {
          display: flex;
          gap: 10px;
          .fa-pen-to-square {
            font-size: 30px;
            cursor: pointer;
            color: #ffffff;
          }
          .fa-trash-can {
            font-size: 30px;
            cursor: pointer;
            color: #ffffff;
          }
        }
      }
      p {
        color: white;
        font-size: 20px;
      }
    }
  }
}
.wrap-container-employeeAdmin:hover {
  overflow-y: auto;
}

@media (max-width: 1280px) {
  .container-employeeAdmin {
    padding-left: 270px;
  }

  .wrap-container-employeeAdmin {
    height: 500px;
  }
}

@media (max-width: 1080px) {
  .container-employeeAdmin {
    padding-left: 220px;
  }
}
