.navbar-dashboard-finance {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  .grid-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    min-width: 200px;
    background-color: #043929;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
}
