.container-HomePageGun {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  padding-top: 104px;
  background-color: #1e4d3f;
}

.header-HomePageGun {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: #103026;
  border-radius: 30px;
  padding: 24px;
  padding-left: 80px;
  padding-right: 80px;
  h1 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #f3cd68;
  }
}

.centerGun {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  .center-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    h3 {
      text-align: center;
      font-size: 22px;
      color: #f3cd68;
    }
    span {
      text-align: center;
      font-size: 42px;
      color: #f3cd68;
    }
    .btn-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
      justify-content: center;
      align-items: center;
      .btn-group-top {
        display: flex;
        gap: 16px;
      }
      .btn {
        color: #f3cd68;
        font-size: 28px;
        font-weight: bold;
        min-width: 200px;
        border: none;
        border-radius: 20px;
        background-color: #103026;
        cursor: pointer;
        transition: all 0.5s;
        padding: 10px;
      }
      .btn:hover {
        text-shadow: 0 0 10px #ffcc66, 0 0 20px #ffcc66, 0 0 30px #ffcc66;
        transition: all 0.5s;
      }
      .btn-booking {
        color: #f3cd68;
        font-size: 28px;
        font-weight: bold;
        min-width: 200px;
        border: none;
        border-radius: 20px;
        background-color: #103026;
        cursor: pointer;
        transition: all 0.5s;
        padding: 10px;
      }
      .btn-booking:hover {
        text-shadow: 0 0 10px #ffcc66, 0 0 20px #ffcc66, 0 0 30px #ffcc66;
        transition: all 0.5s;
      }
    }
  }
  .center-mid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    .compare {
      text-align: center;
      img {
        height: 240px;
        border-radius: 20px;
        border: 5px solid #f3cd68;
      }
      h3 {
        font-family: "Noto Sans Thai", serif;
        text-align: center;
        font-size: 25px;
        color: #396cad;
      }
    }
  }
  .center-right {
    display: flex;
    gap: 20px;
    video {
      max-width: 700px;
    }
  }
}

@media (max-width: 1024px) {
  .header-HomePageGun h1 {
    font-size: 32px;
  }
}

@media (max-width: 983px) {
  .centerGun {
    .center-mid {
      .compare {
        img {
          height: 450px;
        }
      }
    }
  }
}

@media (max-width: 795px) {
  .header-HomePageGun h1 {
    font-size: 24px;
  }
  .center-right {
    .image-top img {
      width: 100%;
    }
    .image-botton {
      flex-direction: column !important;
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
  .center-right {
    video {
      max-width: 600px !important;
    }
  }
}

@media (max-width: 700px) {
  .centerGun {
    .center-left {
      h3 {
        font-size: 18px;
        span {
          font-size: 32px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .container-HomePageGun {
    .header-HomePageGun {
      padding: 16px;
      h1 {
        font-size: 20px;
      }
    }

    .centerGun {
      .center-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
          font-size: 18px;
          span {
            font-size: 28px;
          }
        }
      }
      .center-mid {
        .compare {
          img {
            height: 300px;
          }
        }
      }
      .center-right {
        display: flex;
        gap: 20px;
        video {
          max-width: 500px !important;
        }
      }
      .btn-content {
        width: 100%;
        .btn-group-top {
          width: 100%;
        }
        .btn {
          width: 100%;
          min-width: 0px;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .container-HomePageGun {
    .header-HomePageGun {
      padding: 16px;
      h1 {
        font-size: 18px;
      }
    }

    .centerGun {
      .center-left {
        h3 {
          font-size: 16px;
          span {
            font-size: 28px;
          }
        }
      }
      .center-mid {
        .compare {
          img {
            height: 300px;
          }
        }
      }
      .center-right {
        display: flex;
        gap: 20px;
        video {
          max-width: 400px !important;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container-HomePageGun {
    .centerGun {
      .center-left {
        h3 {
          font-size: 14px;
          span {
            font-size: 22px;
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .container-HomePageGun {
    .centerGun {
      .center-left {
        h3 {
          font-size: 12px;
          span {
            font-size: 20px;
          }
        }
      }
    }
    .centerGun {
      .center-right {
        display: flex;
        gap: 20px;
        video {
          max-width: 300px !important;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .container-HomePageGun {
    .centerGun {
      .center-left {
        h3 {
          font-size: 10px;
          span {
            font-size: 18px;
          }
        }
        .btn-content {
          .btn-group-top {
            .btn {
              font-size: 18px;
            }
          }
        }
        .btn-kats {
          font-size: 18px;
          width: 100%;
        }
      }
    }
  }
}
