.container-orderpage-Gun {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  padding-top: 104px;
  padding-bottom: 60px;
  background-color: #1e4d3f;
  width: 100%;
}

.header-orderpage-Gun {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: #103026;
  border-radius: 30px;
  padding: 24px;
  padding-left: 80px;
  padding-right: 80px;

  .text-header {
    font-size: 32px;
    font-weight: bold;
    color: #f3cd68;
  }
}

.wrap-calendar-Gun {
  background-color: white;
  border: 5px solid #f3cd68;
  border-radius: 20px;
  padding: 20px;
  max-width: 1200px;
  .ant-picker-calendar {
    background-color: white;
  }
  .ant-picker-body {
    background-color: white;
  }

  .ant-picker-cell-inner {
    height: 77px !important;
    .ant-picker-calendar-date-content {
      height: 40px !important;
      overflow-y: hidden;
    }
    .booking {
      overflow: hidden;
    }
    .ant-picker-calendar-date-content:hover {
      overflow-y: auto;
    }
  }
}

@media (max-width: 1181px) {
  .header-orderpage {
    padding: 12px 20px 12px 35px;
    border-radius: 20px;
    .text-header {
      font-size: 28px;
    }
    img {
      width: 90px;
      left: -50px;
    }
  }
  .wrap-calendar {
    padding: 12px;
    .ant-picker-cell-inner {
      height: 84px !important;
    }
  }
}

@media (max-width: 642px) {
  .header-orderpage {
    padding: 12px 12px 12px 12px;
  }
}

@media (max-width: 530px) {
  .header-orderpage {
    padding: 12px 0px 12px 0px;
  }
}

@media (max-width: 450px) {
  .header-orderpage-Gun {
    padding: 14px 24px 14px 24px;
    max-width: 250px;
    .text-header {
      font-size: 20px;
    }
    img {
      left: -30px;
    }
  }
}
