.container-TypeProduct {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;

  input {
    padding: 5px;
    min-width: 250px;
    margin-left: -10px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #043929;
  }

  button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: #043929;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover {
    background-color: #05593d;
  }

  form {
    width: 100%;
  }
}

.header-TypeProduct {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bolder;
    color: white;
  }
}

.typeProduct-content {
  .ant-table {
    height: 350px;
  }
}

.container-DialogTypeProduct {
  display: flex;
  .ant-modal-content {
    background-color: #043929;
  }
  .container-DialogTypeProduct-navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    .fa-circle-xmark {
      font-size: 30px;
      cursor: pointer;
      color: #ffffff;
      transition: all 0.5s;
    }
    .fa-circle-xmark:hover {
      color: red;
      transition: all 0.5s;
    }
  }

  .container-DialogTypeProduct-content {
    h2 {
      color: #ffffff;
      font-size: 1.5em;
      font-weight: bolder;
    }
    input {
      padding: 5px;
      width: 250px;
      height: 45px;
      border-radius: 20px;
      border: 2px solid #043929;
      background-color: white;
    }
    .inputNameTypeProduct {
      display: flex;
      align-items: center;
      gap: 20px;
    }
    .inputCodeTypeProduct {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
      padding-bottom: 40px;
    }
  }

  .btn-DialogTypeProduct-Navbar {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    button {
      padding: 5px 10px;
      border-radius: 10px;
      background-color: white;
      color: #043929;
      font-size: 20px;
      font-weight: bold;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #e6efff;
      box-shadow: 0 0 10px rgba(38, 86, 162, 0.4),
        0 4px 10px rgba(38, 86, 162, 0.3);
      transition: all 0.3s ease;
    }
  }
}

@media (max-width: 1280px) {
  .container-TypeProduct {
    padding-left: 270px;
  }
}

@media (max-width: 600px) {
  .container-TypeProduct {
    padding-left: 20px;

    input {
      min-width: 200px;
    }
  }

  .container-DialogTypeProduct {
    display: flex;
    .ant-modal-content {
      background-color: #043929;
    }
    .container-DialogTypeProduct-navbar {
      display: flex;
      justify-content: end;
      align-items: center;
      .fa-circle-xmark {
        font-size: 30px;
        cursor: pointer;
        color: #ffffff;
        transition: all 0.5s;
      }
      .fa-circle-xmark:hover {
        color: red;
        transition: all 0.5s;
      }
    }

    .container-DialogTypeProduct-content {
      h2 {
        color: #ffffff;
      }
      input {
        width: 180px;
      }
    }
  }
}
