.container-financeAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
}

.container-finance {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  width: 100%;
}

/* leoutFinacne */
.header-financeAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.navbarSelectDay {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  button {
    background-color: #043929;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
  }

  .ant-picker-outlined {
    border-radius: 20px !important;
    border: 2px solid #043929;
  }
}

.container-finance-content {
  display: flex;
}

@media (max-width: 1280px) {
  .container-financeAdmin {
    padding-left: 270px;
  }
}

@media (max-width: 1080px) {
  .container-financeAdmin {
    padding-left: 220px;
  }
}
