.container-financeAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
}

.header-financeAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.navbar-dashboard-finance {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: center;
  .grid-dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    min-width: 200px;
    background-color: #043929;
    border-radius: 10px;
    color: white;
    cursor: pointer;
  }
}

.content-dashboard-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  img {
    width: 150px;
    height: auto;
    border-radius: 50%;
  }
}

@media (max-width: 1280px) {
  .container-financeAdmin {
    padding-left: 270px;
  }
}

@media (max-width: 1080px) {
  .container-financeAdmin {
    padding-left: 220px;
  }
}
