.container-calendarAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-left: 320px;
}

.header-calendarAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  min-width: 1200px;
  border-radius: 20px;
  background-color: #043929;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bolder;
    color: white;
  }
}

.guid {
  display: flex;
  margin-bottom: 20px;
  gap: 20px;
  .guid-yellow {
    display: flex;
    align-items: center;
    gap: 10px;
    .box-yellow {
      width: 20px;
      height: 20px;
      background-color: #faad14;
      border-radius: 50%;
    }
  }
  .guid-blue {
    display: flex;
    align-items: center;
    gap: 10px;
    .box-blue {
      width: 20px;
      height: 20px;
      background-color: #1677ff;
      border-radius: 50%;
    }
  }
  .guid-green {
    display: flex;
    align-items: center;
    gap: 10px;
    .box-green {
      width: 20px;
      height: 20px;
      background-color: #52c41a;
      border-radius: 50%;
    }
  }
  .guid-red {
    display: flex;
    align-items: center;
    gap: 10px;
    .box-red {
      width: 20px;
      height: 20px;
      background-color: #ff4d4f;
      border-radius: 50%;
    }
  }
}

.wrap-calendarAdmin {
  border: 5px solid #043929;
  border-radius: 20px;
  padding: 20px;
  max-width: 1400px;
  .ant-picker-cell-inner {
    height: 95px !important;
    .ant-picker-calendar-date-content {
      height: 60px !important;
      overflow-y: hidden;
    }
    .booking {
      overflow: hidden;
    }
    .ant-picker-calendar-date-content:hover {
      overflow-y: auto;
    }
  }
}

@media (max-width: 1550px) {
  .header-calendarAdmin {
    min-width: 0px;
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .container-calendarAdmin {
    padding-left: 270px;
  }

  .wrap-calendarAdmin {
    .ant-picker-cell-inner {
      height: 80px !important;
      .ant-picker-calendar-date-content {
        height: 40px !important;
        overflow-y: hidden;
      }
      .booking {
        overflow: hidden;
      }
      .ant-picker-calendar-date-content:hover {
        overflow-y: auto;
      }
    }
  }
}

@media (max-width: 1080px) {
  .container-calendarAdmin {
    padding-left: 220px;
  }
}

@media (max-width: 600px) {
  .container-calendarAdmin {
    padding-left: 20px;
  }

  .guid {
    gap: 2px;
    .guid-yellow {
      gap: 2px;
      p {
        font-size: 10px;
      }
    }
    .guid-blue {
      gap: 2px;
      p {
        font-size: 10px;
      }
    }
    .guid-green {
      gap: 2px;
      p {
        font-size: 10px;
      }
    }
    .guid-red {
      gap: 2px;
      p {
        font-size: 10px;
      }
    }
  }
}
