.container-EditWithDrawAdminPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;

  input {
    padding: 5px;
    min-width: 250px;
    margin-left: -10px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #2656a2;
  }

  button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: #2656a2;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover {
    background-color: #1a4f8a;
  }
}

.header-EditWithDrawAdminPage {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #2656a2;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.btn-EditWithDrawAdminPage {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.wrap-container-EditWithDrawAdminPage {
  display: flex;
  justify-content: space-between;
  border: 5px solid #2656a2;
  border-radius: 20px;
  padding: 20px;
  height: 650px;
  width: 1200px;
  .container-EditWithDrawAdminPage-left {
    display: flex;
    flex-direction: column;
    .inputEmployee {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 24px;
      }
      .select-employee {
        height: 45px;
      }
      .ant-select-single .ant-select-selector {
        border-radius: 20px !important;
        border: 2px solid #2656a2;
      }
    }
    .inputDetel {
      display: flex;
      flex-direction: column;
      margin-bottom: 5px;
      h2 {
        font-size: 24px;
      }
      .input-owner-detel {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input {
          padding: 5px;
          border: 2px solid #2656a2;
          margin-left: 0px;
        }
        textarea {
          padding: 5px;
          border: 2px solid #2656a2;
          border-radius: 20px;
          max-height: 100px;
          resize: vertical;
        }
      }
    }
    .inputDate {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 24px;
      }
      .ant-picker-outlined {
        padding: 20px;
        height: 45px;
        border-radius: 20px;
        border: 2px solid #2656a2;
      }
    }
    .wrap-inputList {
      display: flex;
      flex-direction: column;
      h2 {
        font-size: 24px;
      }

      .inputList {
        border: 2px dashed #2656a2;
        border-radius: 10px;
        padding: 15px;
        .btn-append {
          width: 150px;
          margin-bottom: 5px;
        }
        .list-category {
          display: flex;
          gap: 20px;
          padding-bottom: 5px;
          .select-category {
            width: 220px;
            height: 45px;
          }
          .ant-select-single .ant-select-selector {
            border-radius: 20px !important;
            border: 2px solid #2656a2;
          }
          .ant-input-number {
            padding: 5px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border: 2px solid #2656a2;
          }
          .ant-input-number-group-addon {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top: 2px solid #2656a2;
            border-right: 2px solid #2656a2;
            border-bottom: 2px solid #2656a2;
            font-size: 20px;
          }
        }
      }
    }
  }
  .container-EditWithDrawAdminPage-right {
    display: flex;
    flex-direction: column;
    text-align: center;
    .inputImage {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      .text-image {
        width: 400px;
        height: 45px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        gap: 5px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: 2px dashed #2656a2;
        padding: 1.5rem;
        border-radius: 10px;
      }
      .icon-file {
        font-size: 20px;
        color: #2656a2;
      }
      input {
        display: none;
      }
    }
    .PreviewImage {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 452px;
      align-items: center;
      h2 {
        margin-top: 45px;
        font-size: 24px;
      }
      img {
        margin-top: 20px;
        height: 300px;
        width: 250px;
        border-radius: 20px;
        border: 2px solid #2656a2;
      }
    }
  }
}

@media (max-width: 1280px) {
  .container-EditWithDrawAdminPage {
    padding-left: 270px;
  }
}

@media (max-width: 1080px) {
  .container-EditWithDrawAdminPage {
    padding-left: 220px;
  }
}
