.container-orderpage {
  position: relative;
  top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

.header-orderpage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2656a2;
  border-radius: 30px;
  text-align: center;
  position: relative;
  margin-bottom: 24px;
  padding: 18px 30px 18px 50px;
  padding-left: 50px;
  width: 300px;
  img {
    width: 120px;
    z-index: 1;
    position: absolute;
    left: -60px;
  }
  .text-header {
    font-size: 32px;
    font-weight: bold;
    color: white;
  }
}

.wrap-calendar {
  border: 5px solid #2656a2;
  border-radius: 20px;
  padding: 20px;
  max-width: 1200px;
  .ant-picker-cell-inner {
    height: 77px !important;
    .ant-picker-calendar-date-content {
      height: 40px !important;
      overflow-y: hidden;
    }
    .booking {
      overflow: hidden;
    }
    .ant-picker-calendar-date-content:hover {
      overflow-y: auto;
    }
  }
}

@media (max-width: 1181px) {
  .header-orderpage {
    padding: 12px 20px 12px 35px;
    border-radius: 20px;
    .text-header {
      font-size: 28px;
    }
    img {
      width: 90px;
      left: -50px;
    }
  }
  .wrap-calendar {
    padding: 12px;
    .ant-picker-cell-inner {
      height: 84px !important;
    }
  }
}
