.container-homepage {
  position: relative;
  width: 100%;
  top: 80px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  img {
    width: 120px;
    margin-right: -55px;
    z-index: 1;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 200px;
    width: 950px;
    border-radius: 30px;

    font-family: "Noto Sans Thai", serif;
    font-size: 42px;
    font-weight: bold;
    background-color: #2656a2;
    color: white;
  }
}

.center {
  display: flex;
  height: 551px;
  .center-left {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    h3 {
      font-family: "Noto Sans Thai", serif;
      text-align: center;
      font-size: 25px;
      color: #396cad;
    }
    .btn {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      justify-content: center;
      align-items: center;
      margin: 10px;
      margin-left: 50px;
      .btn-product {
        color: white;
        font-size: 28px;
        font-weight: bold;
        font-family: "Noto Sans Thai", serif;

        height: 60px;
        width: 200px;
        border: none;
        border-radius: 20px;
        background-color: #2656a2;
        cursor: pointer;
        transition: all 0.5s;
      }
      .btn-product:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
          0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
        transition: all 0.5s;
      }
      .btn-map {
        color: white;
        font-size: 28px;
        font-weight: bold;
        font-family: "Noto Sans Thai", serif;

        height: 60px;
        width: 200px;
        border: none;
        border-radius: 20px;
        background-color: #2656a2;
        cursor: pointer;
        transition: all 0.5s;
      }
      .btn-map:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
          0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
        transition: all 0.5s;
      }
      .btn-order {
        color: white;
        font-size: 28px;
        font-weight: bold;
        font-family: "Noto Sans Thai", serif;

        height: 60px;
        width: 200px;
        margin-left: 125px;
        margin-right: -120px;
        border: none;
        border-radius: 20px;
        background-color: #2656a2;
        cursor: pointer;
        transition: all 0.5s;
      }
      .btn-order:hover {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
          0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
        transition: all 0.5s;
      }
    }
  }
  .center-right {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    .image-top {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 400px;
    }
    .image-botton {
      display: flex;
      gap: 30px;
      .image-compare {
        display: flex;
        flex-direction: column;
        .compare-before {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: -170px;
          img {
            width: 350px;
            height: 200px;
            border-radius: 20px;
            border: 5px solid #2656a2;
          }
          h3 {
            font-family: "Noto Sans Thai", serif;
            text-align: center;
            font-size: 25px;
            color: #396cad;
          }
        }
        .compare-after {
          display: flex;
          flex-direction: column;
          align-items: center;
          img {
            width: 350px;
            height: 200px;
            border-radius: 20px;
            border: 5px solid #2656a2;
          }
          h3 {
            font-family: "Noto Sans Thai", serif;
            text-align: center;
            font-size: 25px;
            color: #396cad;
          }
        }
      }
      .image-example {
        display: flex;
        gap: 10px;
        .demo1 {
          width: 450px;
          height: 300px;
          border-radius: 20px;
          border: 5px solid #2656a2;
        }
        .demo2 {
          width: 325px;
          height: 300px;
          border-radius: 20px;
          border: 5px solid #2656a2;
        }
      }
    }
  }
}
