.container-CreateWithdrawAdminPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;

  input {
    padding: 5px;
    min-width: 250px;
    margin-left: -10px;
    height: 45px;
    border-radius: 20px;
    border: 2px solid #043929;
  }

  button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: #043929;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover {
    background-color: #05593d;
  }
}

.header-CreateWithdrawAdminPage {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bolder;
    color: white;
  }
}

.btn-CreateWithdrawAdminPage {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.wrap-container-CreateWithdrawAdminPage {
  display: flex;
  flex-direction: column;
  border: 5px solid #043929;
  border-radius: 20px;
  padding: 20px;
  height: 700px;
  h2 {
    font-size: 1.5em;
    font-weight: bolder;
  }
  .inputEmployee {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 24px;
      font-weight: bolder;
    }
    .select-employee {
      height: 45px;
    }
    .ant-select-single .ant-select-selector {
      border-radius: 20px !important;
      border: 2px solid #043929;
    }
  }
  .inputDetel {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    h2 {
      font-size: 24px;
      font-weight: bolder;
    }
    .input-owner-detel {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        padding: 5px;
        border: 2px solid #043929;
        margin-left: 0px;
      }
      textarea {
        padding: 5px;
        border: 2px solid #043929;
        border-radius: 20px;
        max-height: 100px;
        resize: vertical;
      }
    }
  }
  .inputDate {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 24px;
      font-weight: bolder;
    }
    .ant-picker-outlined {
      padding: 20px;
      height: 45px;
      border-radius: 20px;
      border: 2px solid #043929;
    }
  }
  .wrap-inputList {
    display: flex;
    flex-direction: column;
    height: 300px;
    h2 {
      font-size: 24px;
    }

    .inputList {
      border: 2px dashed #043929;
      border-radius: 10px;
      padding: 15px;
      overflow-y: auto;
      .btn-append {
        width: 150px;
        margin-bottom: 5px;
      }
      .list-category {
        display: flex;
        gap: 20px;
        padding-bottom: 5px;
        .select-category {
          width: 220px;
          height: 48px;
        }
        .ant-select-single .ant-select-selector {
          border-radius: 20px !important;
          border: 2px solid #043929;
        }
        .ant-input-number {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          border: 2px solid #043929;
        }
        .ant-input-number-group-addon {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-top: 2px solid #043929;
          border-right: 2px solid #043929;
          border-bottom: 2px solid #043929;
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .container-CreateWithdrawAdminPage {
    padding-left: 270px;
  }

  .wrap-container-CreateWithdrawAdminPage {
    height: 700px;
    .wrap-inputList {
      overflow-y: auto;

      display: flex;
      flex-direction: column;
      h2 {
        font-size: 24px;
      }
      .inputList {
        border: 2px dashed #043929;
        border-radius: 10px;
        padding: 15px;
        .btn-append {
          width: 150px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .container-CreateWithdrawAdminPage {
    padding-left: 220px;

    input {
      min-width: 60px;
    }
  }
}

@media (max-width: 600px) {
  .container-CreateWithdrawAdminPage {
    padding-left: 20px;
  }

  .wrap-container-CreateWithdrawAdminPage {
    height: 700px;
    margin-bottom: 20px;
    .wrap-inputList {
      .inputList {
        overflow-y: auto;
        .list-category {
          padding-bottom: 5px;
          display: flex;
          .select-category {
            width: 100px;
          }
        }
      }
    }
  }
}
