.container-GuardPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  padding-top: 104px;
  background-color: #1e4d3f;
  width: 100%;
}

.header-GuardPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #103026;
  border-radius: 30px;
  padding: 24px;
  padding-left: 80px;
  padding-right: 80px;
  h1 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #f3cd68;
  }
}

.content-guard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-bottom: 48px;
  .content-guard-inside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .text-box {
      padding: 10px;
      background-color: #103026;
      border: 3px solid #f3cd68;
      border-radius: 25px;
      p {
        color: #f3cd68;
        font-size: 22px;
        font-weight: bolder;
        span {
          display: flex;
          justify-content: center;
          font-size: 28px;
          margin-bottom: -35px;
        }
      }
    }
  }
  .image-guard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    img {
      height: 350px;
      border-radius: 20px;
      border: 5px solid #f3cd68;
    }
  }
  video {
    height: 650px;
  }
}

.container-values {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  padding-bottom: 104px;
}

.crad-values {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 45px;
  margin-top: -50px;
  .crad-value {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    height: 500px;
    gap: 20px;
    img {
      max-width: 400px;
      margin-bottom: -20px;
    }
    h2 {
      text-align: center;
      font-size: 42px;
      font-weight: bold;
      color: #f3cd68;
    }
    p {
      text-align: center;
      font-size: 22px;
      font-weight: bold;
      color: #f3cd68;
    }
  }
}

.container-compare {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 20px;
  background-color: #f3cd68;
  table {
    display: flex;
    tr {
      background-color: #103026;
    }
    th {
      background-color: #f3cd68;
      height: 60px;
      font-size: 24px;
      font-weight: bold;
    }
    td {
      text-align: center;
      color: #f3cd68;
      font-size: 15px;
      height: 50px;
    }
  }
}

.text-operate {
  padding: 10px;
  background-color: #103026;
  border: 3px solid #f3cd68;
  border-radius: 15px;
  h3 {
    text-align: center;
    color: #f3cd68;
    font-size: 34px;
  }
}

.operate-card {
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
  .operate-card-inside {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 5px solid #f3cd68;
    img {
      max-height: 350px;
    }
    h3 {
      padding-top: 10px;
      padding-left: 20px;
      font-size: 32px;
      font-weight: bold;
      color: #f3cd68;
    }
    p {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      color: #f3cd68;
    }
  }
}

.gun-timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
  img {
    max-height: 500px;
    border-radius: 20px;
    border: 5px solid #f3cd68;
  }
  .text-gun-timeline {
    display: flex;
    justify-content: center;
    gap: 30px;
    .gun-timeline-inside {
      display: flex;
      gap: 10px;
      p {
        color: #f3cd68;
        font-size: 18px;
      }
    }
    i {
      color: #f3cd68;
      font-size: 24px;
    }
  }
}

@media (max-width: 1630px) {
  .container-values {
    .crad-values {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (max-width: 1550px) {
  .content-guard {
    display: flex;
    .content-guard-inside {
      .text-box {
        p {
          font-size: 20px;
          span {
            display: flex;
            justify-content: center;
            font-size: 26px;
            margin-bottom: -35px;
          }
        }
      }
    }
  }
}

@media (max-width: 1520px) {
  .content-guard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .content-guard-inside {
      .text-box {
        p {
          font-size: 22px;
          span {
            display: flex;
            justify-content: center;
            font-size: 28px;
            margin-bottom: -35px;
          }
        }
      }
    }
    .image-guard {
      display: flex;
      flex-direction: row;
    }
  }
}

@media (max-width: 1230px) {
  .operate-card {
    .operate-card-inside {
      img {
        max-height: 300px;
      }
      h3 {
        font-size: 28px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 1130px) {
  .container-compare {
    table {
      th {
        font-size: 20px;
      }
      td {
        font-size: 12px;
      }
    }
  }
  .gun-timeline {
    .text-gun-timeline {
      .gun-timeline-inside {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .header-GuardPage h1 {
    font-size: 32px;
  }
  .content-guard {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .content-guard-inside {
      .text-box {
        p {
          font-size: 18px;
          span {
            display: flex;
            justify-content: center;
            font-size: 24px;
            margin-bottom: -35px;
          }
        }
      }
    }
  }
  .container-values {
    .crad-values {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      margin-bottom: -40px;
      .crad-value {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -40px;
        img {
          max-width: 300px;
        }
        h2 {
          font-size: 32px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  .text-operate {
    h3 {
      font-size: 28px;
    }
  }
  .operate-card {
    .operate-card-inside {
      img {
        max-height: 270px;
      }
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 990px) {
  .gun-timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 600px;
    }
    .text-gun-timeline {
      display: flex;
      flex-direction: column;
      .gun-timeline-inside {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .text-operate {
    h3 {
      font-size: 24px;
    }
  }
  .operate-card {
    .operate-card-inside {
      img {
        max-height: 240px;
      }
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 880px) {
  .container-compare {
    table {
      th {
        font-size: 18px;
      }
      td {
        font-size: 10px;
      }
    }
  }
}

@media (max-width: 850px) {
  .text-operate {
    h3 {
      font-size: 20px;
    }
  }
  .operate-card {
    .operate-card-inside {
      img {
        max-height: 200px;
      }
      h3 {
        font-size: 24px;
      }
      p {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 740px) {
  .text-operate {
    h3 {
      font-size: 16px;
    }
  }
  .operate-card {
    .operate-card-inside {
      img {
        max-height: 160px;
      }
      h3 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 795px) {
  .header-GuardPage h1 {
    font-size: 24px;
  }
  .content-guard {
    .image-guard {
      display: flex;
      flex-direction: row;
      img {
        max-height: 300px;
      }
    }
  }
}

@media (max-width: 700px) {
  .content-guard {
    .image-guard {
      display: flex;
      flex-direction: row;
      img {
        max-height: 250px;
      }
    }
  }
  video {
    max-height: 500px !important;
  }
  .container-values {
    .crad-values {
      margin-bottom: -80px;
      .crad-value {
        margin-top: -40px;
        margin-bottom: -80px;
        img {
          max-width: 250px;
        }
        h2 {
          font-size: 28px;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .header-GuardPage {
    padding: 16px;
    h1 {
      font-size: 20px;
    }
  }
  .gun-timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 450px;
    }
  }
}

@media (max-width: 600px) {
  .container-GuardPage {
    .content-guard {
      .content-guard-inside {
        .text-box {
          p {
            font-size: 14px;
            span {
              font-size: 20px;
              margin-bottom: -20px;
            }
          }
        }
      }
      .image-guard {
        img {
          max-height: 150px;
        }
      }
      video {
        max-height: 400px !important;
      }
    }
    .container-values {
      .crad-values {
        .crad-value {
          margin-top: -100px;
          margin-bottom: -200px;
          gap: 10px;
          img {
            max-width: 150px;
          }
          h2 {
            font-size: 18px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
    .container-compare {
      table {
        th {
          font-size: 12px;
        }
        td {
          font-size: 8px;
        }
      }
    }
    .text-operate {
      h3 {
        font-size: 14px;
      }
    }
    .operate-card {
      .operate-card-inside {
        img {
          max-height: 120px;
        }
        h3 {
          font-size: 16px;
        }
        p {
          font-size: 12px;
        }
      }
    }
    .gun-timeline {
      img {
        max-width: 350px;
      }
      .text-gun-timeline {
        .gun-timeline-inside {
          p {
            font-size: 12px;
          }
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .container-GuardPage {
    .content-guard {
      .content-guard-inside {
        .text-box {
          p {
            font-size: 12px;
            span {
              font-size: 18px;
              margin-bottom: -15px;
            }
          }
        }
      }
    }
    .operate-card {
      .operate-card-inside {
        border: 3px solid #f3cd68;
        img {
          max-height: 100px;
        }
        h3 {
          font-size: 14px;
        }
        p {
          font-size: 10px;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .container-GuardPage {
    .container-compare {
      table {
        th {
          font-size: 10px;
        }
        td {
          font-size: 6px;
        }
      }
    }
    .text-operate {
      h3 {
        font-size: 12px;
      }
    }
    .operate-card {
      .operate-card-inside {
        img {
          max-height: 90px;
        }
        h3 {
          font-size: 14px;
        }
        p {
          font-size: 8px;
        }
      }
    }
  }
}
