.container-CoatingPageGun {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  padding-top: 104px;
  background-color: #1e4d3f;
  width: 100%;
}

.header-CoatingPageGun {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: #103026;
  border-radius: 30px;
  padding: 24px;
  padding-left: 80px;
  padding-right: 80px;
  h1 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #f3cd68;
  }
}

.poster-row {
  display: flex;
  gap: 20px;
  img {
    height: 350px;
    border: 5px solid #f3cd68;
    border-radius: 25px;
  }
}

.content-series {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  .text-box {
    padding: 10px;
    background-color: #103026;
    border: 3px solid #f3cd68;
    border-radius: 25px;
    p {
      color: #f3cd68;
      font-size: 16px;
      span {
        display: flex;
        justify-content: center;
        font-size: 24px;
        margin-bottom: -20px;
      }
    }
  }
  .tanks {
    width: 350px;
    padding-bottom: 20px;
    img {
      height: 350px;
    }
  }
  img {
    height: 350px;
  }
}

.content-preview {
  display: grid;
  place-items: center;
  height: 250px;
  margin: auto;
  width: 90%;
  overflow: hidden;
  position: relative;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 6));
  }
}

.slide-track {
  display: flex;
  width: calc(250px * 12);
  animation: scroll 40s linear infinite;
}

.slide-track:hover {
  animation-play-state: paused;
}

.slide {
  display: flex;
  align-items: center;
  height: 200px;
  min-width: 250px;
  padding: 15px;
  perspective: 150px;
  img {
    width: 100%;
    border: 2px solid #f3cd68;
    border-radius: 25px;
  }
  img:hover {
    transform: translateZ(20px);
  }
}

.line-hr {
  width: 100%;
  padding: 2px;
  background-color: #f3cd68;
  border: none;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-kats {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  .header-CoatingPageKats {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    background-color: #2656a2;
    border-radius: 30px;
    padding: 24px;
    padding-left: 80px;
    padding-right: 80px;
    h3 {
      text-align: center;
      font-size: 42px;
      font-weight: bold;
      color: white;
    }
  }

  .btn-kats {
    margin-top: 20px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    max-width: 200px;
    border: none;
    border-radius: 20px;
    background-color: #2656a2;
    cursor: pointer;
    transition: all 0.5s;
    padding: 10px;
  }
  .btn-kats:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
    transition: all 0.5s;
  }
}

.branch-theparak {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  .text-box-theparak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-weight: bold;
      color: #f3cd68;
      font-size: 32px;
      text-align: center;
    }
    img {
      height: 350px;
      border: 5px solid #f3cd68;
      border-radius: 25px;
    }
    button {
      margin-top: 20px;
      color: #f3cd68;
      font-size: 28px;
      font-weight: bold;
      min-width: 200px;
      border: none;
      border-radius: 20px;
      background-color: #103026;
      cursor: pointer;
      transition: all 0.5s;
      padding: 10px;
    }
    button:hover {
      text-shadow: 0 0 10px #ffcc66, 0 0 20px #ffcc66, 0 0 30px #ffcc66;
      transition: all 0.5s;
    }
  }
  .image-preview-theparak {
    display: flex;
    flex-direction: column;
    img {
      max-height: 150px;
      border: 5px solid #f3cd68;
      border-radius: 25px;
      margin-top: 40px;
    }
    .content-preview-theparak {
      display: grid;
      place-items: center;
      height: 250px;
      margin: auto;
      margin-top: -10px;
      max-width: 850px;
      overflow: hidden;
      position: relative;
    }

    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 6));
      }
    }

    .slide-track-theparak {
      display: flex;
      width: calc(250px * 12);
      animation: scroll 40s linear infinite;
    }

    .slide-track-theparak:hover {
      animation-play-state: paused;
    }

    .slide {
      display: flex;
      align-items: center;
      height: 200px;
      min-width: 250px;
      padding: 15px;
      perspective: 150px;
      img {
        width: 100%;
        border: 2px solid #f3cd68;
        border-radius: 25px;
      }
      img:hover {
        transform: translateZ(20px);
      }
    }
  }
}

.branch-phetburi {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  .text-box-phetburi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-weight: bold;
      color: #f3cd68;
      font-size: 32px;
      text-align: center;
    }
    img {
      height: 400px;
      border: 5px solid #f3cd68;
      border-radius: 25px;
    }
    button {
      margin-top: 20px;
      color: #f3cd68;
      font-size: 28px;
      font-weight: bold;
      min-width: 200px;
      border: none;
      border-radius: 20px;
      background-color: #103026;
      cursor: pointer;
      transition: all 0.5s;
      padding: 10px;
    }
    button:hover {
      text-shadow: 0 0 10px #ffcc66, 0 0 20px #ffcc66, 0 0 30px #ffcc66;
      transition: all 0.5s;
    }
  }
  .image-preview-phetburi {
    display: flex;
    flex-direction: column;
    img {
      max-height: 150px;
      border: 5px solid #f3cd68;
      border-radius: 25px;
      margin-top: 40px;
    }
  }
}
