.container-productpage {
  position: relative;
  width: 100%;
  top: 80px;
  height: 880px;
}

.header-productpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  img {
    width: 120px;
    margin-right: -55px;
    z-index: 1;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180px;
    width: 950px;
    border-radius: 30px;

    font-family: "Noto Sans Thai", serif;
    font-size: 42px;
    font-weight: bold;
    background-color: #2656a2;
    color: white;
  }
}

.container-prodoct {
  display: flex;
  flex-direction: column;
  .container-list-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      width: 250px;
      border-radius: 20px;
      background-color: #2656a2;

      color: white;
      text-align: center;
      font-family: "Noto Sans Thai", serif;
      font-size: 28px;
      font-weight: bold;
    }
  }
}

.line {
  max-width: 1200px;
  .line-horizontal {
    position: relative;
    height: 20px;
    width: 1200px;
    margin-top: 10px;
    background-color: #2656a2;
    border-radius: 20px;
  }
  .verticals {
    display: flex;
    height: 50px;
    .line-vertical1 {
      position: relative;
      top: -60px;
      left: 0px;
      height: 70px;
      width: 20px;
      margin-top: 40px;
      background-color: #2656a2;
      border-radius: 20px;
    }
    .line-vertical2 {
      position: relative;
      top: -60px;
      left: 350px;
      height: 70px;
      width: 20px;
      margin-top: 40px;
      background-color: #2656a2;
      border-radius: 20px;
    }
    .line-vertical3 {
      position: relative;
      top: -60px;
      left: 760px;
      height: 70px;
      width: 20px;
      margin-top: 40px;
      background-color: #2656a2;
      border-radius: 20px;
    }
    .line-vertical4 {
      position: relative;
      top: -60px;
      left: 1120px;
      height: 70px;
      width: 20px;
      margin-top: 40px;
      background-color: #2656a2;
      border-radius: 20px;
    }
  }
}

.container-list-product-box {
  display: flex;
  width: 100%;
  margin-top: 20px;
  .list-product-box1 {
    display: flex;
    flex-direction: column;
    .product-content-box1 {
      display: flex;
      flex-direction: column;
      margin-left: 200px;
      height: 240px;
      background-color: #2656a2;
      border-radius: 20px;
    }
    .fa-car-side {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      color: white;
      margin-top: 15px;
    }
    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      font-family: "Noto Sans Thai", serif;
      color: white;
      margin-top: 5px;
    }
    p {
      font-size: 18px;
      font-family: "Noto Sans Thai", serif;
      margin: 0 10px;
      color: white;
    }
    button {
      margin-left: 260px;
      margin-top: 20px;
      height: 50px;
      background-color: #2656a2;
      border-radius: 20px;
      border: none;
      width: 200px;
      font-family: "Noto Sans Thai", serif;
      color: white;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    button:hover {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
      transition: all 0.5s;
    }
  }
  .list-product-box2 {
    display: flex;
    flex-direction: column;
    .product-content-box2 {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      height: 240px;
      background-color: #2656a2;
      border-radius: 20px;
    }
    .fa-truck-pickup {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      color: white;
      margin-top: 15px;
    }
    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      font-family: "Noto Sans Thai", serif;
      color: white;
      margin-top: 5px;
    }
    p {
      font-size: 18px;
      font-family: "Noto Sans Thai", serif;
      margin: 0 10px;
      color: white;
    }
    button {
      margin-left: 110px;
      margin-top: 20px;
      height: 50px;
      background-color: #2656a2;
      border-radius: 20px;
      border: none;
      width: 200px;
      font-family: "Noto Sans Thai", serif;
      color: white;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    button:hover {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
      transition: all 0.5s;
    }
  }
  .list-product-box3 {
    display: flex;
    flex-direction: column;
    .product-content-box3 {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      height: 240px;
      background-color: #2656a2;
      border-radius: 20px;
    }
    .fa-truck-field {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      color: white;
      margin-top: 15px;
    }
    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      font-family: "Noto Sans Thai", serif;
      color: white;
      margin-top: 5px;
    }
    p {
      font-size: 18px;
      font-family: "Noto Sans Thai", serif;
      margin: 0 10px;
      color: white;
    }
    button {
      margin-left: 160px;
      margin-top: 20px;
      height: 50px;
      background-color: #2656a2;
      border-radius: 20px;
      border: none;
      width: 200px;
      font-family: "Noto Sans Thai", serif;
      color: white;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    button:hover {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
      transition: all 0.5s;
    }
  }
  .list-product-box4 {
    display: flex;
    flex-direction: column;
    .product-content-box4 {
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      height: 240px;
      background-color: #2656a2;
      border-radius: 20px;
    }
    .fa-van-shuttle {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 60px;
      color: white;
      margin-top: 15px;
    }
    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      font-family: "Noto Sans Thai", serif;
      color: white;
      margin-top: 5px;
    }
    p {
      font-size: 18px;
      font-family: "Noto Sans Thai", serif;
      margin: 0 10px;
      color: white;
    }
    button {
      margin-left: 110px;
      margin-top: 20px;
      height: 50px;
      background-color: #2656a2;
      border-radius: 20px;
      border: none;
      width: 200px;
      font-family: "Noto Sans Thai", serif;
      color: white;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    button:hover {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
      transition: all 0.5s;
    }
  }
}
