.container-employeeAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;
}

.header-employeeAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #2656a2;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.search-employee {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;
  width: 100%;
  input {
    width: 300px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    font-size: 12px;
    font-family: "Noto Sans Thai", serif;
    border: 3px solid #2656a2;
  }
  button {
    min-width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #2656a2;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #1a4f8a;
  }
}

.wrap-container-employeeAdmin {
  display: flex;
  flex-direction: column;
  height: 640px;
  width: 100%;
  overflow-y: hidden;
  .grid-employee {
    display: flex;
    justify-content: center;
  }
  .employee-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 1300px;
    padding: 25px;
    border-radius: 10px;
    background-color: #2656a2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .text-p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon {
        display: flex;
        gap: 10px;
        .fa-pen-to-square {
          font-size: 30px;
          cursor: pointer;
          color: #ffffff;
        }
        .fa-trash-can {
          font-size: 30px;
          cursor: pointer;
          color: #ffffff;
        }
      }
    }
    p {
      color: white;
      font-size: 20px;
    }
  }
}
.wrap-container-employeeAdmin:hover {
  overflow-y: auto;
}
