.container-userAdmin {
  position: fixed;
  left: 300px;
  width: 84.5%;
  height: 100%;
}

.header-userAdmin {
  display: flex;
  justify-content: center;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 1200px;
    border-radius: 20px;
    background-color: #2656a2;
    margin-top: 20px;

    font-size: 42px;
    color: white;
    font-family: "Noto Sans Thai", serif;
  }
}

.search-user {
  display: flex;
  justify-content: end;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  input {
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 18px;
    font-family: "Noto Sans Thai", serif;
    border: 3px solid #2656a2;
  }
  button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #2656a2;
    color: white;
    font-size: 18px;
    font-family: "Noto Sans Thai", serif;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #1a3b7f;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
      0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
    transition: all 0.5s;
  }
}

.wrap-container-userAdmin {
  display: flex;
  flex-direction: column;
  height: 70%;
  margin-left: 110px;
  overflow-y: hidden;
  .grid-user {
    display: flex;
  }
  .user-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: #2656a2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .text-p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .fa-pen-to-square {
        font-size: 30px;
        cursor: pointer;
        color: #ffffff;
      }
    }
    p {
      font-family: "Noto Sans Thai", serif;
      color: white;
      font-size: 20px;
    }
  }
}
.wrap-container-userAdmin:hover {
  overflow-y: auto;
}
