.container-productAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;
}

.header-productAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.create-product {
  display: flex;
  flex-direction: column;
  width: 100%;

  .btn-create-product {
    display: flex;
    justify-content: center;
    align-self: end;
    gap: 20px;
    button {
      padding: 5px;
      height: 40px;
      border-radius: 5px;
      background-color: #043929;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #05593d;
    }
  }
}

.product-content {
  .ant-table {
    height: 600px;
  }
}

@media (max-width: 1280px) {
  .container-productAdmin {
    padding-left: 270px;
  }

  .product-content {
    .ant-table {
      height: 550px;
    }
  }
}

@media (max-width: 1080px) {
  .container-productAdmin {
    padding-left: 220px;
  }
}

@media (max-width: 420px) {
  .container-productAdmin {
    padding-left: 20px;

    .ant-table-content {
      height: 600px !important;
    }
  }

  .product-content {
    .ant-table {
      height: 600px;
      font-size: 9px;
    }
    .ant-typography {
      font-size: 9px;
    }
  }

  .ant-space-item {
    font-size: 14px;
  }
}
