.container-createcategoryAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;

  input {
    padding: 5px;
    min-width: 250px;
    margin-left: -10px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #043929;
  }

  button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: #043929;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover {
    background-color: #05593d;
  }
}

.header-createcategoryAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.btn-createcategoryAdmin {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.wrap-container-createcategoryAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #043929;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
  height: 250px;
  min-width: 900px;
  .inputNameCategory {
    display: flex;
    align-items: center;
    gap: 107px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .inputCodeCatagory {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-left: 20px;
    margin-top: 20px;
  }
}

@media (max-width: 1280px) {
  .container-createcategoryAdmin {
    padding-left: 270px;
  }

  .wrap-container-createcategoryAdmin {
    min-width: 500px;
    .inputNameCategory {
      margin-right: 20px;
    }
    .inputCodeCatagory {
      margin-right: 20px;
    }
  }
}

@media (max-width: 1080px) {
  .container-createcategoryAdmin {
    padding-left: 220px;
  }
}
