.container-DocumentCountPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;

  button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: #043929;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover {
    background-color: #05593d;
  }

  .ant-select-single .ant-select-selector {
    border: 2px solid #043929;
    height: 45px;
    width: 100%;
    min-width: 150px;
  }
}

.header-DocumentCountPage {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bolder;
    color: white;
  }
}

.navbar-DocumentCountPage {
  display: flex;
  width: 100%;
  justify-content: start;
}

.wrap-container-DocumentCountPage {
  display: flex;
  width: 100%;
  height: 350px;
  padding-top: 20px;
  gap: 20px;
  .bookingCount-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 50%;
    gap: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: #043929;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    h2 {
      color: white;
      font-size: 24px;
      font-weight: bolder;
    }

    .header-bookingCount {
      display: flex;
      justify-content: space-between;
      width: 100%;
      gap: 20px;
    }
  }

  .content-bookingCount {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      color: white;
      font-size: 22px;
      font-weight: bold;
    }
    input {
      max-width: 200px;
      padding: 10px;
      border-radius: 10px;
      border: 2px solid white;
      background-color: white;
      font-size: 18px;
      text-align: end;
    }

    .btn-submit {
      width: 100px;
      height: 45px;
      border: none;
      border-radius: 20px;
      background-color: white;
      color: #043929;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.2s;
    }
    .btn-submit:hover {
      background-color: #05593d;
    }
  }
}

@media (max-width: 1280px) {
  .container-DocumentCountPage {
    padding-left: 270px;
  }
}

@media (max-width: 1080px) {
  .container-DocumentCountPage {
    padding-left: 220px;
  }

  .wrap-container-DocumentCountPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .bookingCount-content {
      width: 100%;
      max-width: 320px;
      .header-bookingCount {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
      }

      h2 {
        font-size: 18px;
      }
    }

    .content-bookingCount {
      p {
        font-size: 18px;
      }
      input {
        max-width: 100px;
      }
    }
  }
}

@media (max-width: 600px) {
  .container-DocumentCountPage {
    padding-left: 20px;
  }

  .wrap-container-DocumentCountPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    .bookingCount-content {
      width: 100%;
      max-width: 320px;
      .header-bookingCount {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
      }

      h2 {
        font-size: 18px;
      }
    }

    .content-bookingCount {
      p {
        font-size: 18px;
      }
      input {
        max-width: 100px;
      }
    }
  }
}
