.container-DocumentCountPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
}

.header-DocumentCountPage {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #2656a2;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.wrap-container-DocumentCountPage {
  display: flex;
  width: 100%;
  height: 350px;
  padding-top: 40px;
  gap: 20px;
  .bookingCount-content {
    display: flex;
    margin-bottom: 20px;
    width: 50%;
    gap: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: #2656a2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
