.container-createproductAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;

  input {
    padding: 5px;
    min-width: 250px;
    margin-left: -10px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #043929;
  }

  button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: #043929;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover {
    background-color: #05593d;
  }
}

.header-createproductAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.btn-createproductAdmin {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.wrap-container-createproductAdmin {
  display: flex;
  flex-direction: column;
  border: 5px solid #043929;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
  height: 700px;
  width: 900px;
  .inputNameProduct {
    display: flex;
    align-items: center;
    gap: 125px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .inputCatagory {
    display: flex;
    align-items: center;
    gap: 69px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .inputTypeProduct {
    display: flex;
    align-items: center;
    gap: 69px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .inputPriceProduct {
    display: flex;
    align-items: center;
    gap: 105px;
    margin-left: 20px;
    margin-top: 20px;
  }
  .inputDetailProduct {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 2px dashed #043929;
    border-radius: 10px;
    padding: 24px;
    max-width: 700px;
    margin-left: 70px;
    margin-top: 20px;
    .inputDetailProduct-inside {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 16px;
    }
  }
  .inputProductType {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .select-product {
    width: 265px;
    height: 45px;
    border-radius: 20px;
  }

  .ant-select-single .ant-select-selector {
    border-radius: 20px !important;
    border: 2px solid #043929;
  }

  .input-prices {
    text-align: end;
  }
}

@media (max-width: 1280px) {
  .container-createproductAdmin {
    padding-left: 270px;
  }

  .wrap-container-createproductAdmin {
    height: 600px;
    width: 700px;
    h2 {
      font-size: 20px;
    }
    .inputNameProduct {
      gap: 119px;
    }
    .inputCatagory {
      gap: 69px;
    }
    .inputTypeProduct {
      font-size: 20px;
      gap: 69px;
    }
    .inputPriceProduct {
      gap: 105px;
    }
    .inputDetailProduct {
      margin-left: 0px;
      overflow-y: auto;
      margin-bottom: 20px;
      button {
        width: 100px;
        height: 45px;
        border: none;
        border-radius: 20px;
        background-color: #043929;
        color: white;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.5s;
      }
      button:hover {
        background-color: #05593d;
      }
    }
  }
}

@media (max-width: 1080px) {
  .container-createproductAdmin {
    padding-left: 220px;
  }
}
