.container-WithdrawAdminPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;
}

.header-WithdrawAdminPage {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #2656a2;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.create-withdraw {
  display: flex;
  flex-direction: column;
  width: 100%;

  .btn-create-withdraw {
    position: relative;
    display: flex;
    justify-content: center;
    align-self: end;
    gap: 20px;
    button {
      padding: 5px;
      height: 40px;
      min-width: 80px;
      border-radius: 5px;
      background-color: #2656a2;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #1a4f8a !important;
      color: white !important;
    }
  }
}

.withdraw-content {
  .ant-table {
    height: 600px;
  }
}

.linkIsNone {
  display: none;
}

.container-DialogApprove-Expense {
  .ant-modal-content {
    background-color: white;
    border: 5px solid #2656a2;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    min-width: 1000px;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    color: #2656a2;
  }
  .btn-DialogApprove-Navbar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    button {
      padding: 10px 20px;
      border-radius: 20px;
      background-color: #2656a2;
      color: white;
      font-size: 20px;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #1a3b7f;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
      transition: all 0.5s;
    }
  }
  /* .ant-modal-footer {
    display: none;
  } */
}

@media (max-width: 1280px) {
  .container-WithdrawAdminPage {
    padding-left: 270px;
  }
}

@media (max-width: 1080px) {
  .container-WithdrawAdminPage {
    padding-left: 220px;
  }
}
