.container-orderpage {
  position: relative;
  width: 100%;
  top: 80px;
  height: 880px;
}

.header-orderpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 230px;
  img {
    width: 120px;
    margin-right: -55px;
    z-index: 1;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180px;
    width: 950px;
    border-radius: 30px;

    font-family: "Noto Sans Thai", serif;
    font-size: 42px;
    font-weight: bold;
    background-color: #2656a2;
    color: white;
  }
}

.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .wrap-calendar {
    width: 1250px;
    border: 5px solid #2656a2;
    border-radius: 10px;
  }
}
