.container-guaranteeAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
}

.ant-modal-close {
  display: none;
}

.header-guaranteeAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bolder;
    color: white;
  }
}

.search-guaranteeAdmin {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  input {
    width: 300px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
    font-size: 12px;
    border: 3px solid #043929;
  }
  select {
    width: 80px;
    height: 45px;
    margin-left: 20px;
    border-radius: 20px;
    font-size: 14px;
    border: 2px solid #043929;
  }
  .btn-productName {
    width: 130px;
    height: 45px;
    margin-left: 20px;
    border-radius: 20px;
    border: 2px solid #043929;
  }
}

.content-CreateAdmin {
  width: 100%;
}

.wrap-container-guaranteeAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 620px;
  width: 100%;
  overflow-y: hidden;
  .grid-user {
    display: flex;
  }
  .grid-guaranteeAdmin {
    display: flex;
    width: 90%;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: #043929;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .guaranteeAdmin-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      img {
        min-width: 300px;
        height: 200px;
        border-radius: 20px;
        border: 2px solid #ffffff;
      }
    }
    .guaranteeAdmin-content {
      width: 90%;
    }
    .text-p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon-check-wait {
          font-size: 30px;
          color: yellow;
          margin-bottom: -3px;
        }
        .fa-circle {
          font-size: 30px;
          color: blue;
          margin-bottom: -3px;
        }
        .icon-check-complete {
          font-size: 30px;
          color: green;
          margin-bottom: -3px;
        }
        .icon-check-cancel {
          font-size: 30px;
          color: red;
          margin-bottom: -3px;
        }
        .fa-wrench {
          font-size: 25px;
          color: yellow;
          margin-bottom: -3px;
        }
        .fa-square-check {
          margin-bottom: -3px;
          margin-right: 4px;
          font-size: 30px;
          cursor: pointer;
          color: #ffffff;
        }
        .fa-pen-to-square {
          font-size: 30px;
          cursor: pointer;
          color: #ffffff;
        }
        .fa-trash-can {
          font-size: 30px;
          cursor: pointer;
          color: #ffffff;
        }
      }
    }
    p {
      color: white;
      font-size: 20px;
    }
  }
}
.wrap-container-guaranteeAdmin:hover {
  overflow-y: auto;
}

.wrap-container-Edit-Profile-gun {
  .ant-modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 1400px;
    min-height: 800px;
    border-radius: 20px;
    background-color: #103026;
  }
  .ant-modal-footer {
    display: none;
  }
  .container-Edit-Profile-Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #103026;
    border-radius: 20px;
    button {
      padding: 5px 10px;
      border-radius: 10px;
      background-color: #1e4d3f;
      font-size: 18px;
      font-weight: bolder;
      border: none;
      cursor: pointer;
      h3 {
        font-size: 26px;
        color: #f3cd68;
      }
    }
    .fa-circle-xmark {
      font-size: 30px;
      cursor: pointer;
      color: #ffffff;
      transition: all 0.5s;
    }
    .fa-circle-xmark:hover {
      color: red;
      transition: all 0.5s;
    }
  }
  .content-Profile {
    display: flex;
    justify-content: center;
    height: 700px;
    .card-profile {
      display: flex;
      flex-direction: column;
      .wrap-card-profile {
        display: flex;
        width: 100%;
        .ImageProfile {
          position: relative;
          min-width: 350px;
          height: 210px;
          border-radius: 10px;
          border: 5px solid #ffffff;
          margin-right: 20px;
          img {
            object-fit: cover;
            width: 350px;
            height: 200px;
          }
          .IsImageProfile {
            min-width: 350px;
            height: 200px;
          }
          .IsNotImageProfile {
            min-width: 350px;
            height: 200px;
          }
          .fa-camera {
            position: absolute;
            left: 88%;
            bottom: 5%;
            font-size: 30px;
            color: #ffffff;
            cursor: pointer;
          }
          input {
            display: none;
          }
        }
        .text-column-number {
          display: flex;
          align-items: center;
          gap: 50px;
          .text-number {
            display: flex;
            align-items: center;
            h4 {
              font-size: 28px;
              color: #f3cd68;
            }
            p {
              font-size: 24px;
              color: #f3cd68;
            }
          }
          .text-branch {
            display: flex;
            align-items: center;
            h4 {
              font-size: 28px;
              color: #f3cd68;
            }
            p {
              font-size: 24px;
              color: #f3cd68;
            }
          }
        }
        .text-column-volume {
          display: flex;
          align-items: center;
          gap: 50px;
          .text-volume {
            display: flex;
            align-items: center;
            h4 {
              font-size: 28px;
              color: #f3cd68;
            }
            p {
              font-size: 24px;
              color: #f3cd68;
            }
          }
          .guadrantee {
            display: flex;
            .text-guadrantee-typeProduct {
              display: flex;
              align-items: center;
              h4 {
                font-size: 28px;
                color: #f3cd68;
              }
              p {
                font-size: 24px;
                color: #f3cd68;
              }
            }
            .text-guadrantee {
              display: flex;
              align-items: center;
              h4 {
                font-size: 28px;
                color: #f3cd68;
              }
              p {
                font-size: 24px;
                color: #f3cd68;
              }
            }
          }
        }
      }
      .text-column-date {
        display: flex;
        align-items: center;
        gap: 50px;
        .text-date {
          display: flex;
          align-items: center;
          h4 {
            font-size: 28px;
            color: #f3cd68;
          }
          p {
            font-size: 24px;
            color: #f3cd68;
          }
        }
        .text-car {
          display: flex;
          align-items: center;
          h4 {
            font-size: 28px;
            color: #f3cd68;
          }
          p {
            font-size: 24px;
            color: #f3cd68;
          }
        }
      }
      .text-column-name {
        display: flex;
        align-items: center;
        gap: 50px;
        .text-name {
          display: flex;
          align-items: center;
          h4 {
            font-size: 28px;
            color: #f3cd68;
          }
          p {
            font-size: 24px;
            color: #f3cd68;
          }
        }
        .text-register {
          display: flex;
          align-items: center;
          h4 {
            font-size: 28px;
            color: #f3cd68;
          }
          p {
            font-size: 24px;
            color: #f3cd68;
          }
        }
      }
      .text-tel {
        display: flex;
        align-items: center;
        h4 {
          font-size: 28px;
          color: #f3cd68;
        }
        p {
          font-size: 24px;
          color: #f3cd68;
        }
      }
      hr {
        padding: 2px;
        background-color: #f3cd68;
        border-radius: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .guarante-date {
        display: flex;
        table {
          width: 100%;
          th {
            font-size: 26px;
            color: #f3cd68;
            border-radius: 10px;
            text-align: center;
          }
          td {
            font-size: 22px;
            color: #f3cd68;
            text-align: center;
            .checkbox {
              margin-top: 5px;
              margin-bottom: -5px;
            }
          }
          .input-time {
            display: flex;
            justify-content: center;
            padding: 4px;
            border-radius: 10px;
            width: 100px;
            border: none;
            text-align: center;
          }
          .input-date {
            display: flex;
            justify-content: center;
            border-radius: 10px;
            width: 200px;
            border: none;
            text-align: center;
          }
          .checkbox {
            appearance: none;
            width: 25px;
            aspect-ratio: 1;
            border-radius: 8px;
            border: 2px solid #f3cd68;
            position: relative;
            transition: all 0.2s ease-in-out;
          }
          .checkbox::before {
            font-family: "Quicksand", sans-serif;
            position: absolute;
            bottom: -4px;
            left: 1px;
            content: "✔";
            font-size: 30px;
            color: rgb(255, 153, 0);
            transform: scale(0);
            transition: all 0.2s ease-in-out;
          }
          .checkbox:checked::before {
            animation: zoom 0.5s ease-in-out;
            transform: scale(1);
          }
          @keyframes zoom {
            0% {
              transform: scale(0);
            }
            20% {
              transform: scale(1.5);
            }
            40% {
              transform: scale(0.5);
            }
            50% {
              transform: scale(1);
            }
            70% {
              transform: scale(1.2);
            }
            90% {
              transform: scale(0.8);
            }
            100% {
              transform: scale(1);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .container-guaranteeAdmin {
    padding-left: 270px;
  }

  .wrap-container-Edit-Profile-gun {
    .ant-modal-content {
      min-width: 800px;
      min-height: 700px;
    }
    .content-Profile {
      height: 500px;
      .card-profile {
        .wrap-card-profile {
          .ImageProfile {
            min-width: 250px;
            height: 150px;
            img {
              object-fit: cover;
              width: 350px;
              height: 140px;
            }
            .IsImageProfile {
              min-width: 250px;
              height: 150px;
            }
            .IsNotImageProfile {
              min-width: 250px;
              height: 150px;
            }
            .fa-camera {
              left: 83%;
              bottom: 5%;
              font-size: 25px;
            }
          }
          .text-column-number {
            gap: 0px;
            .text-number {
              h4 {
                font-size: 20px;
              }
              p {
                font-size: 16px;
              }
            }
            .text-branch {
              h4 {
                font-size: 20px;
              }
              p {
                font-size: 16px;
              }
            }
          }
          .text-column-volume {
            gap: 0px;
            .text-volume {
              h4 {
                font-size: 20px;
              }
              p {
                font-size: 16px;
              }
            }
            .guadrantee {
              display: flex;
              .text-guadrantee-typeProduct {
                h4 {
                  font-size: 20px;
                }
                p {
                  font-size: 16px;
                }
              }
              .text-guadrantee {
                h4 {
                  font-size: 20px;
                }
                p {
                  font-size: 16px;
                }
              }
            }
          }
        }
        .text-column-date {
          gap: 0px;
          .text-date {
            h4 {
              font-size: 20px;
            }
            p {
              font-size: 16px;
            }
          }
          .text-car {
            h4 {
              font-size: 20px;
            }
            p {
              font-size: 16px;
            }
          }
        }
        .text-column-name {
          gap: 0px;
          .text-name {
            h4 {
              font-size: 20px;
            }
            p {
              font-size: 16px;
            }
          }
          .text-register {
            h4 {
              font-size: 20px;
            }
            p {
              font-size: 16px;
            }
          }
        }
        .text-tel {
          gap: 0px;
          h4 {
            font-size: 20px;
          }
          p {
            font-size: 16px;
          }
        }
        hr {
          padding: 1px;
        }
        .guarante-date {
          gap: 0px;
          table {
            th {
              font-size: 20px;
            }
            td {
              font-size: 14px;
            }
            .input-time {
              padding: 1px;
            }
            .input-date {
              padding: 4px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .container-guaranteeAdmin {
    padding-left: 220px;
  }
}

@media (max-width: 600px) {
  .container-guaranteeAdmin {
    padding-left: 20px;
  }

  .search-guaranteeAdmin {
    input {
      width: 100px;
      height: 40px;
      font-size: 12px;
    }
    select {
      gap: 10px;
      width: 50px;
      height: 45px;
    }

    .btn-productName {
      width: 80px;
      height: 45px;
    }
  }

  .wrap-container-guaranteeAdmin {
    height: 700px;
    .grid-guaranteeAdmin {
      width: 100%;
      max-width: 300px;
      .guaranteeAdmin-image {
        img {
          display: none;
        }
      }
      .guaranteeAdmin-content {
        width: 90%;
      }
      .text-p {
        .icon {
          .icon-check-wait {
            font-size: 20px;
          }
          .fa-circle {
            font-size: 20px;
          }
          .icon-check-complete {
            font-size: 20px;
          }
          .icon-check-cancel {
            font-size: 20px;
          }
          .fa-wrench {
            font-size: 25px;
          }
          .fa-square-check {
            font-size: 20px;
          }
          .fa-pen-to-square {
            font-size: 20px;
          }
          .fa-trash-can {
            font-size: 20px;
          }
          .fa-square-check {
            display: none;
          }
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
}
