.container-CreateEmployeeAdminPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;

  input {
    padding: 5px;
    min-width: 265px;
    margin-left: -10px;
    height: 45px;
    border-radius: 20px;
    border: 2px solid #043929;
  }

  button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: #043929;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover {
    background-color: #05593d;
  }
}

.header-CreateEmployeeAdminPage {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bolder;
    color: white;
  }
}

.wrap-container-CreateEmployeeAdminPage {
  display: flex;
  border: 5px solid #043929;
  border-radius: 20px;
  padding: 0px 20px 0px 20px;
  height: 700px;
  gap: 50px;
  .input-left {
    display: flex;
    flex-direction: column;
    .inputNameEmployee {
      display: flex;
      align-items: center;
      margin-top: 20px;
      h2 {
        width: 220px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .inputTelEmployee {
      display: flex;
      align-items: center;
      margin-top: 20px;
      h2 {
        width: 220px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .inputPositionEmployee {
      display: flex;
      align-items: center;
      margin-top: 20px;
      h2 {
        width: 210px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .select-product {
      width: 265px;
      height: 45px;
      border-radius: 20px;
    }
    .ant-select-single .ant-select-selector {
      border-radius: 20px !important;
      border: 2px solid #043929;
    }
    .inputImageEmployee {
      display: flex;
      align-items: center;
      margin-top: 20px;
      h2 {
        width: 210px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .inputPaymentStatus {
      display: flex;
      align-items: center;
      margin-top: 20px;
      h2 {
        width: 210px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .inputPaymentType {
      display: flex;
      align-items: center;
      margin-top: 20px;
      h2 {
        width: 210px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .inputAccountNumber {
      display: flex;
      align-items: center;
      margin-top: 20px;
      h2 {
        width: 220px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .inputBankName {
      display: flex;
      align-items: center;
      margin-top: 20px;
      h2 {
        width: 210px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .inputAmount {
      display: flex;
      align-items: center;
      margin-top: 20px;
      h2 {
        width: 220px;
        font-size: 20px;
        font-weight: bolder;
      }
    }
    .inputImage {
      display: flex;
      align-items: center;
      justify-content: center;
      .text-image {
        width: 265px;
        height: 60px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        gap: 5px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: 2px dashed #043929;
        padding: 1.5rem;
        border-radius: 10px;
      }
      .icon-file {
        font-size: 20px;
        color: #043929;
      }
      input {
        display: none;
      }
    }
  }
  .PreviewImage {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    h2 {
      margin-top: 45px;
      font-size: 20px;
      font-weight: bolder;
    }
    .wrap-img {
      border-radius: 50%;
      border: 2px solid #043929;
      margin-top: 20px;
      img {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        object-fit: cover;
      }
    }
  }
}

.bank-logo {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 2px solid #043929;
}

.bank-select {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (max-width: 1280px) {
  .container-CreateEmployeeAdminPage {
    padding-left: 270px;
  }

  .wrap-container-CreateEmployeeAdminPage {
    height: 600px;
    .input-left {
      input {
        width: 251px;
        height: 40px;
        border-radius: 20px;
      }
      .inputNameEmployee {
        margin-top: 10px;
      }
      .inputTelEmployee {
        margin-top: 10px;
      }
      .inputPositionEmployee {
        margin-top: 10px;
      }
      .select-product {
        width: 265px;
        height: 45px;
        border-radius: 20px;
      }
      .ant-select-single .ant-select-selector {
        border-radius: 20px !important;
        border: 2px solid #043929;
      }
      .inputImageEmployee {
        margin-top: 10px;
      }
      .inputPaymentStatus {
        margin-top: 10px;
      }
      .inputPaymentType {
        margin-top: 10px;
      }
      .inputAccountNumber {
        margin-top: 10px;
      }
      .inputBankName {
        margin-top: 10px;
      }
      .inputAmount {
        margin-top: 10px;
      }
      .select-product {
        height: 40px;
      }
      .inputImage {
        .text-image {
          width: 265px;
          height: px;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .container-CreateEmployeeAdminPage {
    padding-left: 220px;
  }
}

@media (max-width: 600px) {
  .container-CreateEmployeeAdminPage {
    padding-left: 20px;

    input {
      min-width: 200px;
    }

    button {
      height: 40px;
      border-radius: 10px;
      font-size: 16px;
    }
  }

  .header-CreateEmployeeAdminPage {
    height: 50px;
    border-radius: 10px;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      color: white;
    }
  }

  .wrap-container-CreateEmployeeAdminPage {
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
    .input-left {
      input {
        height: 40px;
        border-radius: 20px;
      }
      .inputNameEmployee {
        margin-top: 10px;
        h2 {
          width: 100px;
          font-size: 12px;
        }
      }
      .inputTelEmployee {
        margin-top: 10px;
        h2 {
          width: 100px;
          font-size: 12px;
        }
      }
      .inputPositionEmployee {
        margin-top: 10px;
        h2 {
          width: 100px;
          font-size: 12px;
        }
      }
      .select-product {
        width: 215px;
        height: 45px;
        border-radius: 20px;
        margin-left: -22px;
      }
      .inputImageEmployee {
        margin-top: 10px;
        h2 {
          width: 100px;
          font-size: 12px;
        }
      }
      .inputPaymentStatus {
        margin-top: 10px;
        h2 {
          width: 100px;
          font-size: 12px;
        }
      }
      .inputPaymentType {
        margin-top: 10px;
        h2 {
          width: 100px;
          font-size: 10px;
        }
      }
      .inputAccountNumber {
        margin-top: 10px;
        h2 {
          width: 100px;
          font-size: 12px;
        }
      }
      .inputBankName {
        margin-top: 10px;
        h2 {
          width: 100px;
          font-size: 12px;
        }
      }
      .inputAmount {
        margin-top: 10px;
        h2 {
          width: 100px;
          font-size: 12px;
        }
      }
      .select-product {
        height: 40px;
        width: 222px;
        h2 {
          width: 100px;
          font-size: 12px;
        }
      }
      .inputImage {
        .text-image {
          width: 210px;
          max-height: 50px !important;
        }
      }
    }
  }
}
