.container-catagoryAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;
}

.header-catagoryAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.create-catagory {
  display: flex;
  flex-direction: column;
  width: 100%;

  .btn-create-catagory {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    button {
      padding: 5px;
      height: 40px;
      border-radius: 5px;
      background-color: #043929;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #05593d;
    }
  }
}

@media (max-width: 1280px) {
  .container-catagoryAdmin {
    padding-left: 270px;
  }
}

@media (max-width: 1080px) {
  .container-catagoryAdmin {
    padding-left: 220px;
  }
}
