.container-BookingAdmin {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
}

.header-BookingAdmin {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  margin-bottom: 20px;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: bolder;
    color: white;
  }
}

.search-BookingAdmin {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  select {
    width: 80px;
    height: 45px;
    margin-left: 50px;
    border-radius: 20px;
    border: 2px solid #043929;
    font-size: 14px;
    font-family: "Noto Sans Thai", serif;
  }
  .search-content-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
    input {
      width: 300px;
      height: 40px;
      padding: 5px;
      border-radius: 10px;
      font-size: 12px;
      font-family: "Noto Sans Thai", serif;
      border: 3px solid #043929;
    }
    .btn-crate {
      width: 100px;
      height: 45px;
      border: none;
      border-radius: 20px;
      background-color: #043929;
      color: white;
      font-size: 20px;
      cursor: pointer;
      transition: all 0.5s;
    }
    .btn-crate:hover {
      background-color: #05593d;
    }
  }
}

.wrap-container-BookingAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 620px;
  width: 100%;
  overflow-y: hidden;
  .grid-user {
    display: flex;
  }
  .grid-BookingAdmin {
    display: flex;
    width: 90%;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 10px;
    background-color: #2656a2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .BookingAdmin-image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      img {
        width: 200px;
        height: 100px;
        border-radius: 20px;
        border: 2px solid #ffffff;
      }
    }
    .BookingAdmin-content {
      width: 90%;
    }
    .text-p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .icon {
        display: flex;
        align-items: center;
        gap: 10px;
        .icon-check-wait {
          font-size: 30px;
          color: yellow;
        }
        .fa-circle {
          font-size: 30px;
          color: blue;
        }
        .icon-check-complete {
          font-size: 30px;
          color: green;
        }
        .icon-check-cancel {
          font-size: 30px;
          color: red;
        }
        .fa-wrench {
          font-size: 25px;
          color: yellow;
        }
        .fa-pen-to-square {
          font-size: 30px;
          cursor: pointer;
          color: #ffffff;
        }
        .fa-trash-can {
          font-size: 30px;
          cursor: pointer;
          color: #ffffff;
        }
        .icon-pay {
          font-size: 30px;
          cursor: pointer;
          color: #ffffff;
        }
      }
    }
    p {
      color: white;
      font-size: 20px;
    }
    .licensePlate-approve {
      display: flex;
      justify-content: space-between;
      .btn-approve {
        display: flex;
        gap: 10px;
        button {
          padding: 0px 10px;
          border-radius: 10px;
          background-color: white;
          font-size: 18px;
          border: none;
          cursor: pointer;
          color: black;
        }
      }
      .btn-approve-none {
        display: none;
      }
    }
  }
}
.wrap-container-BookingAdmin:hover {
  overflow-y: auto;
}

.wrap-container-DialogPay {
  min-width: 800px;
  height: 800px;
  border-radius: 20px;
  .ant-modal-content {
    background-color: #043929;
  }
  .ImagePay {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 700px;
      border-radius: 20px;
    }
  }
  .ant-modal-footer {
    display: none;
  }
}

.wrap-container-DialogDelete {
  width: 350px;
  height: 300px;
  .ant-modal-content {
    background-color: white;
    border: 5px solid #043929;
    border-radius: 20px;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #043929;
  }
  .btn-DialogDelete-Navbar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    button {
      padding: 10px 20px;
      border-radius: 20px;
      background-color: #043929;
      color: white;
      font-size: 20px;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #05593d;
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
      transition: all 0.5s;
    }
  }
  .ant-modal-footer {
    display: none;
  }
}

.wrap-container-DialogApprove {
  width: 350px;
  height: 300px;
  .ant-modal-content {
    background-color: white;
    border: 5px solid #043929;
    border-radius: 20px;
  }
  h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: #043929;
  }
  .btn-DialogApprove-Navbar {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    button {
      padding: 10px 20px;
      border-radius: 20px;
      background-color: #043929;
      color: white;
      font-size: 20px;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background-color: #05593d;
      text-shadow: 0 0 10px #e6fff5, 0 0 20px #b3ffe0, 0 0 30px #80ffcc;
      transition: all 0.5s;
    }
  }
  .ant-modal-footer {
    display: none;
  }
}

@media (max-width: 1280px) {
  .container-BookingAdmin {
    padding-left: 270px;
  }

  .wrap-container-DialogPay {
    min-width: 700px;
    height: 750px;
  }
}

@media (max-width: 1080px) {
  .container-BookingAdmin {
    padding-left: 220px;
  }
}

@media (max-width: 900px) {
  .container-BookingAdmin {
    padding-left: 220px;
  }

  .wrap-container-BookingAdmin {
    height: 650px;
    .grid-BookingAdmin {
      .BookingAdmin-image {
        margin-right: 5px;
        img {
          display: none;
        }
      }
      .BookingAdmin-content {
        width: 100%;
      }
    }
  }
}

@media (max-width: 850px) {
  .container-BookingAdmin {
    padding-left: 220px;
  }

  .search-BookingAdmin {
    select {
      margin-left: 0px;
    }
    .search-content-right {
      align-items: center;
      gap: 5px;
      margin-right: 0px;
      input {
        width: 200px;
      }
    }
  }
}

@media (max-width: 600px) {
  .container-BookingAdmin {
    padding-left: 20px;
  }

  .search-BookingAdmin {
    select {
      margin-left: 0px;
    }
    .search-content-right {
      align-items: center;
      gap: 5px;
      margin-right: 0px;
      input {
        width: 120px;
      }
    }
  }

  .wrap-container-BookingAdmin {
    height: 650px;
    .grid-BookingAdmin {
      width: 100%;
      max-width: 300px;
      .BookingAdmin-image {
        margin-right: 5px;
        img {
          display: none;
        }
      }
      .BookingAdmin-content {
        width: 100%;
      }
      .text-p {
        .icon {
          display: flex;
          align-items: center;
          gap: 10px;
          .icon-check-wait {
            font-size: 20px;
          }
          .fa-circle {
            font-size: 20px;
          }
          .icon-check-complete {
            font-size: 20px;
          }
          .icon-check-cancel {
            font-size: 20px;
          }
          .fa-wrench {
            font-size: 20px;
          }
          .fa-pen-to-square {
            font-size: 20px;
          }
          .fa-trash-can {
            font-size: 20px;
          }
          .icon-pay {
            font-size: 20px;
          }
        }
      }
      p {
        font-size: 12px;
      }
      .licensePlate-approve {
        .btn-approve {
          button {
            font-size: 14px;
          }
        }
      }
    }
  }

  .wrap-container-DialogPay {
    min-width: 200px;
    height: 350px;
    .ImagePay {
      img {
        height: 300px;
      }
    }
  }

  .wrap-container-DialogDelete {
    width: 300px !important;
    height: 200px;
    h1 {
      font-size: 30px;
    }
    .btn-DialogDelete-Navbar {
      button {
        font-size: 15px;
      }
    }
  }

  .wrap-container-DialogApprove {
    width: 300px !important;
    height: 200px;
    h1 {
      font-size: 24px;
    }
    .btn-DialogApprove-Navbar {
      button {
        font-size: 16px;
      }
    }
  }
}
