.container-ProductPageKats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px;
  padding-top: 104px;
}

.header-ProductPageKats {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  background-color: #2656a2;
  border-radius: 30px;
  padding: 18px 100px 18px 50px;
  padding-left: 100px;
  img {
    width: 120px;
    z-index: 1;
    position: absolute;
    left: -60px;
  }
  h1 {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: white;
  }
}

.wrap-container-product {
  display: flex;
  flex-direction: column;
  .container-list-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      width: 250px;
      border-radius: 20px;
      background-color: #2656a2;

      color: white;
      text-align: center;
      font-family: "Noto Sans Thai", serif;
      font-size: 28px;
      font-weight: bold;
    }
  }
}

.container-list-product-box {
  display: flex;
  width: 100%;
  gap: 20px;
  padding-top: 20px;
  .list-product-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .product-content-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 400px;
      min-width: 400px;
      background-color: #2656a2;
      border-radius: 20px;
    }
    .fa-car-side {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 90px;
      color: white;
      margin-top: 10px;
    }
    .fa-truck-pickup {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 90px;
      color: white;
      margin-top: 10px;
    }
    .fa-truck-field {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 90px;
      color: white;
      margin-top: 10px;
    }
    .fa-van-shuttle {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 90px;
      color: white;
      margin-top: 10px;
    }
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 34px;
      color: white;
    }
    h4 {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 34px;
      color: white;
      margin-top: 20px;
    }
    p {
      font-size: 22px;
      margin: 0 20px;
      color: white;
    }
    button {
      margin-left: 10px;
      margin-top: 20px;
      height: 50px;
      background-color: #2656a2;
      border-radius: 20px;
      border: none;
      width: 100%;
      max-width: 200px;
      font-family: "Noto Sans Thai", serif;
      color: white;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
    }
    button:hover {
      text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
        0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
      transition: all 0.5s;
    }
  }
}

.container-DialogPrice {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
}

.ant-modal-close {
  display: none;
}

.wrap-container-DialogPrice {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
  background-color: #2656a2;
  border-radius: 10px;
  .container-DialogPrice-Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    h3 {
      font-size: 32px;
      color: white;
      font-family: "Noto Sans Thai", serif;
      margin-left: 10px;
    }
    .fa-circle-xmark {
      font-size: 32px;
      color: white;
      cursor: pointer;
      transition: all 0.5s;
    }
    .fa-circle-xmark:hover {
      color: red;
      transition: all 0.5s;
    }
  }

  .carImages {
    display: flex;
    justify-content: center;
    height: 700px;
    img {
      height: 300px;
      width: 400px;
      border-radius: 15px;
      margin-top: 20px;
    }
    .sliderName {
      display: flex;
      flex-direction: column;
      height: 700px;
      width: 750px;
      display: flex;
      align-items: center;
      h3 {
        font-size: 32px;
        color: white;
        font-family: "Noto Sans Thai", serif;
      }
      .carName {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 750px;
        margin-top: 20px;
        .fa-circle-left {
          font-size: 32px;
          color: white;
          cursor: pointer;
        }
        .fa-circle-left:hover {
          color: black;
        }
        .fa-circle-right {
          font-size: 32px;
          color: white;
          cursor: pointer;
        }
        .fa-circle-right:hover {
          color: black;
        }
      }
    }
    .sliderName-hidden {
      display: none;
      height: 700px;
      width: 750px;
      opacity: 0;
      transition: all 0.5s ease;
      height: 0;
      width: 0;
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 280px;
      width: 500px;
      margin-top: 20px;
      .sliderImage {
        height: 280px;
        width: 400px;
        border-radius: 15px;
        transition: all 0.5s ease;
        opacity: 1;
        margin-top: 0px;
      }
      .sliderImage-hidden {
        display: block;
        height: 250px;
        width: 400px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 0;
        width: 0;
      }
      .btn-left-right {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 600px;
        .fa-circle-left {
          font-size: 32px;
          color: white;
          cursor: pointer;
        }
        .fa-circle-left:hover {
          color: black;
        }
        .fa-circle-right {
          font-size: 32px;
          color: white;
          cursor: pointer;
        }
        .fa-circle-right:hover {
          color: black;
        }
      }
    }
  }
}

@media (max-width: 1680px) {
  .header-ProductPageKats h1 {
    font-size: 32px;
  }
  .wrap-container-product {
    .container-list-product {
      .container-list-product-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media (max-width: 1024px) {
  .header-ProductPageKats h1 {
    font-size: 32px;
  }
}

@media (max-width: 910px) {
  .wrap-container-product {
    .container-list-product {
      .container-list-product-box {
        .list-product-box {
          .product-content-box {
            height: 300px;
            min-width: 300px;
            .fa-car-side {
              font-size: 50px;
            }
            .fa-truck-pickup {
              font-size: 50px;
            }
            .fa-truck-field {
              font-size: 50px;
            }
            .fa-van-shuttle {
              font-size: 50px;
            }
            h3 {
              font-size: 30px;
            }
            h4 {
              font-size: 30px;
            }
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 855px) {
  .header-ProductPageKats h1 {
    font-size: 24px;
  }
  .center-right {
    .image-top img {
      width: 100%;
    }
    .image-botton {
      flex-direction: column !important;
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}

@media (max-width: 760px) {
  .wrap-container-product {
    .container-list-product {
      .container-list-product-box {
        .list-product-box {
          .product-content-box {
            height: 300px;
            min-width: 300px;
            .fa-car-side {
              font-size: 50px;
            }
            .fa-truck-pickup {
              font-size: 50px;
            }
            .fa-truck-field {
              font-size: 50px;
            }
            .fa-van-shuttle {
              font-size: 50px;
            }
            h3 {
              font-size: 26px;
            }
            h4 {
              font-size: 26px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .header-ProductPageKats {
    padding: 16px;
    padding-left: 60px;
    h1 {
      font-size: 16px;
    }
    img {
      width: 100px;
      left: -30px;
    }
  }
  .wrap-container-product {
    .container-list-product {
      .container-list-product-box {
        .list-product-box {
          .product-content-box {
            height: 250px;
            min-width: 250px;
            .fa-car-side {
              font-size: 40px;
            }
            .fa-truck-pickup {
              font-size: 40px;
            }
            .fa-truck-field {
              font-size: 40px;
            }
            .fa-van-shuttle {
              font-size: 40px;
            }
            h3 {
              font-size: 24px;
            }
            h4 {
              font-size: 24px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .wrap-container-product {
    .container-list-product {
      .container-list-product-box {
        .list-product-box {
          .product-content-box {
            height: 250px;
            min-width: 250px;
            .fa-car-side {
              font-size: 50px;
            }
            .fa-truck-pickup {
              font-size: 50px;
            }
            .fa-truck-field {
              font-size: 50px;
            }
            .fa-van-shuttle {
              font-size: 50px;
            }
            h3 {
              font-size: 22px;
            }
            h4 {
              font-size: 22px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 584px) {
  .wrap-container-product {
    .container-list-product {
      .container-list-product-box {
        .list-product-box {
          .product-content-box {
            height: 250px;
            min-width: 200px;
            .fa-car-side {
              font-size: 40px;
            }
            .fa-truck-pickup {
              font-size: 40px;
            }
            .fa-truck-field {
              font-size: 40px;
            }
            .fa-van-shuttle {
              font-size: 40px;
            }
            h3 {
              font-size: 18px;
            }
            h4 {
              font-size: 18px;
            }
            p {
              font-size: 14px;
            }
          }
          button {
            margin-left: 0px;
            color: white;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .container-ProductPageKats {
    padding: 10px;
    padding-top: 100px;
  }
  .wrap-container-product {
    .container-list-product {
      .container-list-product-box {
        .list-product-box {
          .product-content-box {
            height: 200px;
            min-width: 200px;
            .fa-car-side {
              font-size: 30px;
            }
            .fa-truck-pickup {
              font-size: 30px;
            }
            .fa-truck-field {
              font-size: 30px;
            }
            .fa-van-shuttle {
              font-size: 30px;
            }
            h3 {
              font-size: 16px;
            }
            h4 {
              font-size: 16px;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
