.container-mappage {
  position: relative;
  width: 100%;
  top: -30px;
  height: 800px;
}

.header-mappage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 245px;
  img {
    width: 120px;
    margin-right: -55px;
    z-index: 1;
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180px;
    width: 950px;
    border-radius: 30px;

    font-family: "Noto Sans Thai", serif;
    font-size: 42px;
    font-weight: bold;
    background-color: #2656a2;
    color: white;
  }
}
