.container-CreateSalaryAdvanceAdminPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  padding-left: 320px;
  gap: 20px;

  input {
    padding: 5px;
    min-width: 250px;
    margin-left: -10px;
    height: 30px;
    border-radius: 20px;
    border: 2px solid #043929;
  }

  button {
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: #043929;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
  }
  button:hover {
    background-color: #05593d;
  }
}

.header-CreateSalaryAdvanceAdminPage {
  display: flex;
  justify-content: center;
  height: 80px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  background-color: #043929;
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    color: white;
  }
}

.btn-CreateSalaryAdvanceAdminPage {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.wrap-container-CreateSalaryAdvanceAdminPage {
  display: flex;
  flex-direction: column;
  border: 5px solid #043929;
  border-radius: 20px;
  padding: 20px;
  height: 650px;
  width: 700px;
  .inputEmployee {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 24px;
    }
    .select-employee {
      height: 45px;
    }
    .ant-select-single .ant-select-selector {
      border-radius: 20px !important;
      border: 2px solid #043929;
    }
  }
  .inputDetel {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    h2 {
      font-size: 24px;
    }
    .input-owner-detel {
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        padding: 5px;
        border: 2px solid #043929;
        margin-left: 0px;
      }
      textarea {
        padding: 5px;
        border: 2px solid #043929;
        border-radius: 20px;
        max-height: 100px;
        resize: vertical;
      }
    }
  }
  .inputDate {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 24px;
    }
    .ant-input-number {
      padding: 5px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border: 2px solid #043929;
    }
    .ant-input-number-group-addon {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-top: 2px solid #043929;
      border-right: 2px solid #043929;
      border-bottom: 2px solid #043929;
      font-size: 20px;
    }
  }
}

@media (max-width: 1280px) {
  .container-CreateSalaryAdvanceAdminPage {
    padding-left: 270px;
  }

  .wrap-container-CreateSalaryAdvanceAdminPage {
    height: 500px;
  }
}

@media (max-width: 1080px) {
  .container-CreateSalaryAdvanceAdminPage {
    padding-left: 220px;
  }
}

@media (max-width: 600px) {
  .container-CreateSalaryAdvanceAdminPage {
    padding-left: 20px;
  }

  .wrap-container-CreateSalaryAdvanceAdminPage {
    height: 500px;
    width: 330px;
  }
}
